[2020-11-02 16:57] rolandgeider opened #1 "Use automatic linting"
The code should be automatically linted for new commits or PRs. While github's super-linter supports dart, it seems it is not really usable at the moment:

https://github.com/github/super-linter/issues/507

[2020-11-02 17:34] rolandgeider opened #2 "Configure dependabot"
Once dependabot understands pupspec.yaml, it should be activated here. See e.g.: https://github.com/dependabot/dependabot-core/issues/2166

[2020-12-05 10:19] rolandgeider opened #5 "Barcode scanner"
When https://github.com/wger-project/wger/issues/422 is done, it would be possible to implement a barcode scanner, instead of searching for products by name

[2021-03-09 11:21] rolandgeider opened #6 "Add offline mode"
While the app communicates with the main wger server, it would be possible to write a completely offline application (since everythong goes through the providers, everything could be saved to the local storage). There are a couple of things that are calculated server side, that logic would need to be duplicated locally

[2021-03-13 09:48] rolandgeider opened #9 "Add plate calculator to gym mode"
The gym mode should automatically (for exercises that use a barbell) calculate the needed plates for the current weight, see Change-making problem

[2021-04-06 13:37] 12people opened #10 "Add app store exception to license"
In the license for Feeel, I use the AGPL with an app store exception. This allows me to potentially release the app on the iOS AppStore in the future, which has terms incompatible with the GPL and AGPL.

If you would also potentially like to release on iOS in the future, adding this exception might be helpful.

I use these two sentences to my LICENSE file:

[2021-04-06 13:43] 12people commented on #10
I thought to mention this now, as there was a suggestion in another issue to relicense the project to AGPL anyway. If you're going to be relicensing, then it'd be good to add the exception alongside the new license.

[2021-04-06 15:50] rolandgeider commented on #10
While we're not planning on releasing it on the app store any time soon (due to a lack of Macs 😄), this is a good point and it's definitely better to do it now

[2021-04-07 15:16] comradekingu commented on #10
You also need a 99$ developer license to release on the iOS app store. Least that is how it used to be.
Why give any of that the time of day.

Got an e-mail saying the dev dislikes CC licensing for the same reasons I do, so why bother with it?

https://www.gnu.org/licenses/license-list.en.html#ccbysa
CC BY-SA 4.0 is one-way compatible with the GNU GPL version 3: this means you may license your mod

[2021-04-07 18:17] rolandgeider opened #11 "TODOs"
Last todos

**General**

- [x]  The autocompleters must send the app's current locale to the server
- [x]  check that we load everything as UTF-8, some umlauts are broken (is it possible to use emojis in titles, etc.?)
- [x] check that all strings are translatable

**Workout plans**

- [x] after adding a new workout routine, the user should be redirected to the detail page
- [x] after editing an e

[2021-04-08 11:59] rolandgeider commented on #10
It seems it's still like that 🙄 I'm also not a fan of apple's ultra closed ecosystem (and would obvioulsy prefer to avoid adding exceptions like this) but would like to keep the option open of releasing it there in the future. And that's better done now than later when more people might have contributed and all will need to accept it.

[2021-04-12 10:41] #10 closed

[2021-04-12 11:49] comradekingu commented on #10
@rolandgeider You are also granting it to everyone else. This might make it difficult to establish the original as such.
There is an endless amount of NewPipe forks on the Play store, when the project itself doesn't meet the guidelines.

Working the angle of nice-app-store-exclusivity I reckon means more donations.

[2021-04-12 12:08] 12people commented on #10
@comradekingu There are three things to note here:

1. The exception itself is relevant only for app stores whose terms of use conflict with the GPL. The Google Play Store and F-Droid, where wger will ship first, are unaffected.
2. Not having this exception in the license wouldn't mean app store exclusivity, but rather not being able to be in the AppStore at all. That is, unless all contributors t

[2021-04-12 12:38] comradekingu commented on #10
@12people Heia.

1. Learnt something there.
https://www.zdnet.com/article/no-gpl-apps-for-apples-app-store/

2. I meant exclusivity in the sense of opting to not distribute on the likes of the play or iOS store. I understand that might only mean in name.

3. I am obviously not a lawyer either, but repeating the PR fiascos of Mozilla/FF seems like something to avoid.
(I am a bit confused with "may"

[2021-04-12 12:59] 12people commented on #10
@comradekingu Hi :)

If I understand correctly, you're proposing that wger is released in neither the AppStore nor the Play Store? But the Play Store allows GPL apps, so that would lead to only copycats being in the Play Store. Perhaps I'm not understanding correctly.

Thanks for posting the AGPL sections on differentiation — it's the first time I noticed them and they may come in handy for me. :)

[2021-04-12 13:02] 12people commented on #10
@rolandgeider You added the app store exception, but the README still says "GNU General Public License 3 or later (GPL 3+)" rather than "GNU Affero General Public License 3 or later (AGPL 3+)".

[2021-04-12 13:15] comradekingu commented on #10
@12people
I am hypothesizing that since there may or may not be copycats anyway, people are more inclined to donate if there are no exceptions, and for some level of exclusivity with values aligned with donating.
Protecting the name in the non-FF way doesn't seem to have the same connotation.

It could entirely be the case that NewPipe not being allowed on the Play store is different, and that its

[2021-04-12 13:20] 12people commented on #10
@comradekingu NewPipe is not allowed in the Play Store because it breaks YouTube's Terms of Service, not because of GPL.

[2021-04-12 14:07] comradekingu commented on #10
Yes, but psychologically the effect is the same, or could be.

[2021-04-12 18:43] rolandgeider commented on #10
You're right, it's fixed now

Also, that article on zdnet was pretty interesting (and a bit depressing)

[2021-04-13 10:58] #11 closed

[2021-04-13 15:32] rolandgeider opened #12 "Add offline mode to gym mode"
A more doable version of #6 , the gym mode could easily get an offline mode, if after saving the logs they would be stored in local preferences and sent to the server when the user opens the dashboard again

[2021-04-13 18:24] rolandgeider opened #13 "Show past logs"
Users should be presented with the past x (distinct) logs, in the gym mode.

This would allow them to
* compare their current set to the past ones
* carry the data over to the log form after tapping on them

[2021-04-15 09:40] rolandgeider opened #14 "Improve initial loading time"
At the moment, when the user arrives at the dashboard, the complete data (workout and nutrition plans, logs, weight) is loaded but only the last/current workout or nutritional plan is actually needed for display. The `_loadEntries` could be improved so that unused data is downloaded in the background or something similar

[2021-04-15 15:40] #13 closed

[2021-04-16 08:18] rolandgeider opened #15 "Allow to change the order of exercises in the gym mode"
While at the gym it is not always possible to do all the exercises in the planned order because benches are occupied, etc. The gym mode should support the user and allow to change the order of exercises

[2021-04-16 08:22] rolandgeider opened #16 "Allow to swap or add exercises in gym mode"
Somehow related to #15

The user should be able to swap exercises or add new ones on the fly

[2021-04-16 17:24] rolandgeider opened #17 "Improve the log view for workouts"
The log view for workouts could be improved. E.g:

![IMG_20210416_191058 - 2](https://user-images.githubusercontent.com/2280729/115060497-35f85300-9ee8-11eb-93b6-d3ccbce8e9fd.jpg)

A calendar widget at the top allows the user to select a specific day. If there is a WorkoutSession for that day, it is presented first. Then for each exercise, we show their logs in a simple list, similarly to what we

[2021-04-16 17:33] rolandgeider commented on #9
Python code for this:

[code]

[2021-04-17 22:41] 12people commented on #10
@rolandgeider You'll also need to add a contributor license agreement in Weblate, at least for the strings for the mobile app.

I use this for Feeel:

[2021-04-19 14:32] #17 closed

[2021-04-19 18:38] rolandgeider commented on #10
That's more an explicit mention of the exception than a real license agreement, but it's probably better to have it in an obvious place before people start contributing. I'll add it later today.

[2021-04-19 21:43] 12people commented on #10
The problem is, Weblate only shows standard licenses by default and I believe translators have to explicitly agree to the extended license. (I might be wrong here, though.)

Oh, and if you have ideas on how to improve the wording, definitely let me know. :)

[2021-04-20 09:13] rolandgeider commented on #10
Perhaps explaining a bit why this is necessary?

[2021-04-20 22:20] comradekingu commented on #10
You can't add inroads on licenses anywhere. This means acquiring permission from everyone to erode a license down to a more permissive one.

@12people Weblate only shows standard licenses by default, but you can configure that in your own installation.
Hosted Weblate otoh, (and in turn Weblate) derives it reputation from supporting and being libre software.

If I understand it correctly, both of y

[2021-04-21 08:56] rolandgeider opened #18 "Move to null safety"
At the moment the following libraries don't support null safety. When they do, scripts, READMEs, etc. need to be changed and e.g. the `--no-sound-null-safety` removed

- ~android_metadata~
- charts_flutter
- ~flutter_html~

[2021-04-21 11:00] 12people commented on #10
@comradekingu
If I'm understanding you correctly, you see the added permission as a dangerous precedent that could inspire other developers to add other permissions that whittle down the AGPL into a permissive or week copyleft license — is that correct?

And you also don't like the idea of AGPL and GPL apps being part of Apple's app ecosystem, and thereby being more of a selling point for their pl

[2021-04-21 11:22] comradekingu commented on #10
There is enough garbage to deal with already. CoCs, CLAs, DCOs, terms and agreements, and then various licenses that do the same thing.

All the "license differently" options come at a loss. Some parts translations, some parts PR, and potential issues with Hosted Weblate, and time down the drain.

"Never ship on App Store" is a great option, and one that can bring extra donations. It is the right

[2021-04-21 12:42] 12people commented on #10
If you'd like, I'd be more than open to having a call about this — I think that would be much more efficient than writing out our beliefs in detail here.

As I explained above, I don't see not shipping on the AppStore as the right thing to do. On the contrary, it would reduce access to GPL and AGPL apps for a huge number of people (apparently, there are more than **1 billion** active iPhones out t

[2021-04-23 16:41] rolandgeider commented on #14
`fetchAndSetWorkoutPlan` can be further improved. When loading a workout, we need to send a request for each set (`fetchComputedSettings`) and for each setting (`fetchSmartText`). Those are actually comfort functions so we could move the logic to the app. Alternatively, the endpoints could be improved so that they return more data at once

[2021-04-23 17:25] rolandgeider opened #19 "Add automatic screenshot generation"
Ideally, there would be some way to update the screenshots automatically for each language. It seems we need to setup flutter driver. Since we don't plan on using it for actually testing, just opening the screens, this sould be doable.

Info dump:

https://medium.com/flutter-community/testing-flutter-ui-with-flutter-driver-c1583681e337
https://flutter.dev/docs/cookbook/testing/integration/introduc

[2021-04-23 17:32] rolandgeider commented on #19
It seems there is some version incompatibility...

Because every version of flutter_driver from sdk depends on args 1.6.0 and flutter_launcher_icons 0.9.0 depends on args 2.0.0, flutter_driver from sdk is incompatible with flutter_launcher_icons 0.9.0.

[2021-04-24 08:28] rolandgeider opened #20 "Allow to log individual ingredients"
At the moment, only complete meals can be logged to the nutrition diary. The user should also be able to log any ingredients from the DB (probably also while selecting the date, but that is something for another issue). Ideally we would present the last distinct logged items for quick access

[2021-04-24 08:33] rolandgeider opened #21 "Add bar diagram for planned vs logged values"
We should chart the planned / logged / 7 day average values for energy, protein, carbs, etc. for a nutritional plan. Something like this:

![pattern_forward_hatch_full](https://user-images.githubusercontent.com/2280729/115952754-27adc680-a4e8-11eb-8d1d-e6eb9ee3c973.png)

[2021-04-24 12:03] rolandgeider commented on #21
https://google.github.io/charts/flutter/example/bar_charts/pattern_forward_hatch

[2021-04-25 13:29] rolandgeider opened #23 "Detail view for nutritional diary"
## Use case

Add a detail view to the nutritional plan

## Proposal

At the moment, the user can only see the total numbers logged for a certain day

![](https://cdn.discordapp.com/attachments/853896274549669898/854341689639567370/unknown.png)

While this is useful for the overview, it would be helpful to be able to open a detail view of the values logged for that specific day. This would show the

[2021-04-26 10:58] rolandgeider opened #24 "Show diagram of trained muscles"
We should show a diagram with the trained muscles like in the web application. Since the images are transparent SVGs, this should be more or easy with a Stack widget

[2021-04-26 14:05] rolandgeider opened #25 "Allow to specify categories when searching for an exercise"
The user should be able to select in which categories to search when adding an exercise to a set. Perhaps some toggle buttons under the typeahead field? This will also need some slight work on the server.

[2021-04-29 14:14] rolandgeider commented on #24
https://github.com/wger-project/wger/tree/master/wger/core/static/images/muscles

[2021-05-13 12:14] #14 closed

[2021-05-17 12:07] rolandgeider opened #29 "Add minimum required server version"
## Use case

At the moment, we have to be very careful with changes, as the app might be incompatible with a newer version of the server.

## Proposal

Add a new endpoint in the server, perhaps `required_version` that returns a version (we can use `get_version()` to generate it). The mobile app would load this on startup and compare its current version with the one downloaded. If the app's version

[2021-06-01 08:08] rolandgeider opened #30 "Don't allow usernames with spaces"
Don't allow user names with spaces during registration, this can cause problems later when using the web interface

[2021-06-05 12:03] rolandgeider commented on #30
TODO: make sure that the username validator checks the following:
* max length 30
* only letters, numbers and the following characters: @ , . - _  are allowed (just use the the regex from django '^[\w.@+-]+$')

[2021-06-05 12:09] rolandgeider opened #31 "Preselect correct time in session form"
The session form (last page in the gym mode) always pre fills the current time when editing the start or the end time. It should of course use the values present in the field

[2021-06-05 13:36] rolandgeider opened #32 "Allow to edit and delete workout log entries"
At the moment it is not possible to edit or delete workout logs. There should be an option to do this, e.g. in the workout log page

[2021-06-05 13:40] rolandgeider opened #33 "Calendar not always populated with data"
The calendar (in dashboard and in the workout log page) aren't always populated with data, even when the logs are present

[2021-06-06 16:14] peschie1967 opened #34 "Add other measurements beside body weight"
I would like to check and log my body data, such as fat percentage, muscle mass, etc. on a regular basis. The values should also be displayed graphically so that the changes are visible.

[2021-06-06 16:35] rolandgeider commented on #34
Hi! Yes, we already have plans for this, but I can't give a timeline for it

[2021-06-06 16:40] rolandgeider commented on #34
https://github.com/wger-project/wger/issues/133

[2021-06-11 13:58] rolandgeider opened #35 "Start time of workout session should be before the end"
Add validator to enforce that the end and start times of a session (last page of gym mode) are in the correct order

[2021-06-11 18:45] rolandgeider opened #36 "Error with default Impression"
On the session page if the user doesn't change the default impression, ab error occurs about the uninitialized impression. Changing once foxes this

[2021-06-12 15:54] #33 closed

[2021-06-12 15:55] #30 closed

[2021-06-12 15:55] #36 closed

[2021-06-12 16:18] rolandgeider opened #37 "Trailing dash for custom server"
If the custom server has a trailing dash, it should be removed when saving it, otherwise the URLs will not work

[2021-06-12 19:58] rolandgeider opened #38 "Use correct weight for +/- buttons"
In the gym mode, it's possible to add or substract weight by clicking on the plus / minus buttons, At the moment, the weight of the smallest plate is used (1,25), but it should be double (each side has one)

[2021-06-14 15:34] rolandgeider commented on #15
Jumping to the other exercises (and back) is already possible

[2021-06-14 15:34] #15 closed

[2021-06-16 04:25] edgui opened #40 "The App is all in Deutch - Missing language set"
## Steps to Reproduce

1. ... All app is in Deutch. Doesn't have a option to change language.
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

</details>

[2021-06-16 06:04] rolandgeider commented on #40
Hi! The app uses the system's languages or if no translation is available, English as a fallback. Can you check in your language settings that you don't have German?

[2021-06-16 11:18] rolandgeider opened #41 "Allow editing the exercise/set order"
## Use case

it's currently not possible to change the order of sets once added to a workout.

## Proposal

There is already an order field for the sets that's populated during creation, so there is nothing that needs to be added on the backend. I'm not sure if we need a package for this or flutter has the necessary tools

[2021-06-16 16:01] rolandgeider commented on #9
This is now available in master

[2021-06-16 16:01] #9 closed

[2021-06-16 20:26] edgui commented on #40
Thank  You for a quick reply!
It's now solved. Yes, the issue was in the language settings, mine was Portuguese. So I added English, and set it as default. It worked. Then I returned to Portuguese as default, and the app is still in English (which for me is not bad at all).
By the way, congratulation on the amazing app!!

[2021-06-16 20:42] rolandgeider commented on #40
Glad that it works now. Closing the issue

[2021-06-16 20:42] #40 closed

[2021-06-19 15:11] #1 closed

[2021-06-20 11:21] arun-muralidharan commented on #38
This should be a simple start. I'll work on this.

[2021-06-20 13:33] rolandgeider commented on #38
Closed with #45

[2021-06-20 13:33] #38 closed

[2021-06-20 13:42] rolandgeider opened #46 "Configure plate calculator"
## Use case

Allow to configure the available plates for the calculator

## Proposal

At the moment, the plate calculator uses a bar weight of 20 (kg) and a hard coded list of available plates (1.25, 2.5, 5, 10, 15). This list should be configurable, as not all gyms have all plates (plus lb - kg differences)

[2021-06-22 06:23] rolandgeider commented on #35
I think TimeOfDay objects can't be directly compared, you will probably have to do a bit of data massaging

[2021-06-22 08:08] arun-muralidharan commented on #35
Yes, I'll have to create a DateTime object from TimeOfDay and then compare them using isAfter/isBefore. Something came up last night and I couldn't get to it. I'll do it this evening.

[2021-06-22 08:24] M123-dev opened #48 "Wrong workout name restriction (name length)"
When renaming a workout or a workout day a minimum length of 5 letters is required. This limit does not exist on the server. (My workout as well as all of my workout days are under this limit.) Is this a wanted behavior?

[2021-06-22 08:51] rolandgeider commented on #48
Both should behave the same, I'll check

[2021-06-22 20:27] #35 closed

[2021-06-25 11:48] arun-muralidharan commented on #41
There is Flutter's native `ReorderableListView` widget. We could use that; of if that doesn't work for us, there is also the [flutter_reorderable_list](https://pub.dev/packages/flutter_reorderable_list) package.

I'll start working on this.

[2021-06-25 13:43] rolandgeider commented on #41
Awesome! I'm not sure if the sets are currently rendered with ListTiles or something else, in case the  RecordableListView needs some specific child widgets to work

[2021-06-25 13:49] arun-muralidharan commented on #41
It is possible that `ReorderableListView` implements `ListView`. I'll take a look.

[2021-06-26 18:49] rolandgeider commented on #46
Common Olympic  plate denominations are

kg: 1.25, 2.5, 5, 10, 15, 20, and 25 kg
lb: 2.5, 5, 10, 25, 35, and 45 lbs,

[2021-06-29 16:45] rolandgeider opened #51 "Sets are displayed wrong"
## Steps to Reproduce

The sets/repetitions are not always displayed correctly. E.g if you enter one set and 8 repetitions with some weight, the workout plan is shown as "8 x weight"

[2021-06-30 14:13] M123-dev opened #52 "Automatically close the keyboard"
If you enter the weight or the repetitions via keyboard during a workout and go to the next exercise the keyboard remains open

[2021-06-30 14:17] M123-dev opened #53 "Double displayed training plans"
When the app is loading (on startup) and you visit the Training section on the bottom navigation bar and you go back and revisit again it all workouts are displayed double(three times, four times, ....).

[2021-06-30 14:24] rolandgeider commented on #53
Mhh, interesting. We should probably refactor that loading screen and only show the navigation once everything is downloaded. Perhaps even inform the user what exactly is being currently fetched.

[2021-06-30 14:25] M123-dev opened #54 "Bad internet duplicate exercise entries"
If you have a bad internet connection and you want to save an exercise entrie, you can press the button again until you get a response from the server. Either you have to click away several error alert dialogs or if the requests are accepted there are multiple entry,

The button should be disabled until there is a response (or a timeout).

[2021-06-30 14:29] rolandgeider commented on #54
I have also noticed this while saving logs in the gym mode, but this is something that will probably happen with all forms that save something to the server (which are basically all of them).

[2021-07-01 07:53] Dolaned commented on #54
Idemponent requests could help this

[2021-07-01 08:04] rolandgeider commented on #54
You are right, at the moment we use POST requests to create objects, perhaps using PUT would help. On the other hand we don't have any ids at the time to identify the resource.

Disabling the button or showing some kind of spinner till "something happens" is probably the best solution usability wise anyway

[2021-07-01 15:08] #41 closed

[2021-07-01 18:56] M123-dev commented on #41
@rolandgeider, is there even the possibility to do this on the webside?

[2021-07-01 19:07] M123-dev opened #55 "Beeing able to edit + delete sets"
At the time you can add new sets to a workout day, but not update or delete them.

[2021-07-01 19:08] M123-dev commented on #55
The same with for days in a workout

[2021-07-01 19:08] rolandgeider commented on #41
There will be! It's on my to-do

[2021-07-01 19:10] rolandgeider commented on #55
You can delete the sets and edit the days when you tap on the arrows next to the day's name.

But yes, editing an existing set should be possible

[2021-07-01 19:27] M123-dev opened #56 "Better add sets screen"
When adding a new set to a workout day it is currently not clear that you have to press save for each exercise or you will add a superset.

I have seen the button in the TextField and I know it is the same system as on the website but it is confusing at first.

[2021-07-01 19:36] M123-dev opened #57 "Different cards for different workout units"
For example when you choose body weight the field for the weight is still visible and accessible in the workout

The cards should be different for every setting, not only hiding the textfield but also updating the description when you choose for example Kilometers per hour

The same applies to repetitions, until failure, kilometers, and so on.

[2021-07-01 19:51] rolandgeider commented on #57
Many combinations don't make sense, you are right. And I guess it would be possible to filter out a couple, but those fields are just entries in the database and I know that some people that have a local instance have added their own.

My though here is that almost everybody will use the repetitions / weight combination and if they want to change it, they will do it to something they can actually

[2021-07-01 19:53] rolandgeider commented on #56
There is an explanation text in the help button, but yeah, how many users read that

Perhaps adding a "plus superset with" between the exercise blocks would make this more obvious?

[2021-07-01 20:17] M123-dev commented on #57
Okay, locking fields might be overkill but at least changing the label is a good idea

[2021-07-01 20:30] M123-dev commented on #56
Maybe we can remove the search bar after the exercise is choosen and add it back in with a "Add superset" button

[2021-07-01 20:33] rolandgeider commented on #56
Yes or something like that. Changing the placeholder text is also perhaps enough and is simpler to do

[2021-07-07 08:59] M123-dev opened #58 "[BUG] Missing double workout entries"
## Steps to Reproduce

When in a workout exercise with multiple sets and you save the sets with the same value it only gets displayed once. (See video)

<details>
  <summary>Screen recoding</summary>

https://user-images.githubusercontent.com/39344769/124731409-7cbb7f00-df12-11eb-898a-ace87ed989a0.mp4

</details>

**Expected results:**

The second set with the same amount of weight and reps should

[2021-07-07 09:16] rolandgeider commented on #58
I just though about this last week!

In the list only distinct values are displayed, so if you did all the sets with the same weight/reps, only one will be shown. The rest are saved to the DB and displayed e.g. in the log view in the workout page, but I didnt want to "pollute" this list with unnecessary data. The idea was that you will realistically only do a couple of combinations so you should b

[2021-07-07 12:47] M123-dev commented on #58
Ohh you can click on them, I did not know that. The icon is for me rather means that I save the values to my clipboard.

I think to avoid confusion we should either make it a complete history or make it a quick selection where the date is either not shown at all or maybe something like "Last time done:".

[2021-07-07 12:56] M123-dev opened #59 "[BUG] Phone crash"
Must be further investigated

In Gym mode when entering values, the app crashes relatively often (sometimes up to 3x per hour).

These crashes look like that the app freezes and after about 20 seconds my phone completely shuts down. As far as I can tell so far, it happens when I do things very quickly.

I assume it will be a null error, probably when accessing something the server hasn't respondet

[2021-07-07 16:29] rolandgeider commented on #58
yeah, you "copy" them over 😁 Perhaps (subtly) flashing the form elements would help. I also like the "last time done" idea, showing how old the entries are is important

[2021-07-07 16:31] rolandgeider commented on #59
it completely crashes??? What I have seen when the connection is not great (hello McFit in the basement) is that the phone will wait till the response comes or throws a timeout, but never that the application nor the phone was unresponsive

[2021-07-07 18:29] M123-dev commented on #59
Yeah the whole phone, this is annoying during a workout, especially now during corona where there is a fixed time period in my gym.
I can give a few more infos:

| Phone       | Samsung Galaxy S21                                 |
| ----------- | -------------------------------------------------- |
| Connections | Wifi (Public Gym Hotspot) + Bluetooth (Smartwatch) |
| Language    | DE

[2021-07-07 18:31] M123-dev commented on #59
I did some further investigations, this could be a problem with `flutter_html`,
Some have suggested that adding wake lock permission fixed their problem, see [here](https://github.com/flutter/flutter/issues/60576#issuecomment-781779417)

[2021-07-07 19:21] rolandgeider commented on #59
Cool! Thanks I'll take a look

[2021-07-08 08:13] rolandgeider commented on #34
Closing this duplicate issue, but this is being worked on

[2021-07-08 08:13] #34 closed

[2021-07-08 10:14] M123-dev commented on #53
@rolandgeider I was just looking into this, but one question is it better to move the futureBuilder from dasboard.dart to main.dart or to home_tabs_screen.dart

[2021-07-13 06:43] dgurudot commented on #59
We even tried the WAKE_LOCK but that didn't help on Samsung devices.

We have to press multiple times for any touch to be recognized on device although we could clearly see logs on console when we do press.

We added the following on all three AndroidManifest.xml files (debug, main, profile)

<uses-permission android:name="android.permission.WAKE_LOCK"/>

We also tried using the wakelock package a

[2021-07-13 06:47] rolandgeider commented on #59
Thanks for testing this! If the flutter_html package is somehow the source for this, we could try removing the exercise description and see if it changes something.

[2021-07-13 07:23] dgurudot commented on #59
I don’t have flutter_html package in pubspec but it is quite possible that some other package might be using it under the hood

Sent from my iPhone

[2021-07-13 15:18] #56 closed

[2021-07-13 15:18] #48 closed

[2021-07-17 11:50] rolandgeider commented on #59
@M123-dev I have released a new version of the app (should show up as an update in the next hours). It has the WAKE_LOCK permission as well as current dependencies and finally sound null safety. Let's hope this fixes the issue!

Independently of this, I should take some time and see how hard it would be to integrate sentry.

[2021-07-17 12:47] M123-dev commented on #59
Thanks @rolandgeider I tested the new version and wasn't able to reproduce the error anymore. 🎉

[2021-07-17 12:47] #59 closed

[2021-07-17 16:15] rolandgeider commented on #59
Awesome! I would still prefer to know what was causing it but... 🤷🏻‍♂️

[2021-07-17 16:57] M123-dev commented on #59
@rolandgeider at least it is fixed. If it or something similar occurs again, I'll let you know.

[2021-07-18 18:55] YasserAntonio opened #62 "IOS 12.3 Build Failed"
## Steps to Reproduce

1. Open Runne.ccodeproj with Xcode
2. launch the build

**Expected results:**
Build success
**Actual results:**

<details>
  <summary>
Showing All Messages
MkDir /Users/yasserantonio/Downloads/flutter/build/ios/Debug-iphonesimulator/Runner.app (in target 'Runner' from project 'Runner')
    cd /Users/yasserantonio/Downloads/flutter/ios
    /bin/mkdir -p /Users/yasserantonio/D

[2021-07-19 14:19] rolandgeider commented on #62
It seems the localizations could not be loaded. Did you run  `flutter gen-l10n` before building?

[2021-07-19 15:47] YasserAntonio commented on #62
The logs when I run "flutter gen-l10n":

"es": 7 untranslated message(s).
"fr": 4 untranslated message(s).
"it": 5 untranslated message(s).
"ja": 129 untranslated message(s).
"nb": 50 untranslated message(s).
"pl": 130 untranslated message(s).
To see a detailed report, use the --untranslated-messages-file
option in the flutter gen-l10n tool:
flutter gen-l10n --untranslated-messages-file=desiredFil

[2021-07-19 16:49] rolandgeider commented on #62
From what I could find, it seems that you need to setup a certificate on xcode: https://stackoverflow.com/questions/65192512/flutter-error-no-profiles-for-xxx-were-found-xcode-couldn-t-find-any-ios-app/65192513

[2021-07-19 17:09] YasserAntonio commented on #62
I opened Runner.xcodeproj and changed the Bundle identifier to a single string without points : wger instead of de.wger.flutter witch solved it but now I have some import issues.
<img width="732" alt="image" src="https://user-images.githubusercontent.com/8104486/126199328-85cb55d3-af58-4144-a031-540e973ca825.png">
It's doing the same for each import after I remove one.

[2021-07-19 17:28] #62 closed

[2021-07-19 17:30] rolandgeider commented on #62
Awesome! I'll note this in the readme

[2021-07-19 17:35] rolandgeider commented on #5
There are widgets for this, e.g. https://pub.dev/packages/flutter_barcode_scanner/score

[2021-07-21 00:30] dgurudot commented on #59
My app is not null safe since several dependencies are not null safe yet and also migration tool didn't help much and still had tons of errors. I am not sure if the issue is due to null safety.

I added the WAKE_LOCK permission in AndroidManifest.xml as given below

<uses-permission android:name="android.permission.WAKE_LOCK"/>

What dependencies are you referring above ?

I still have this issue

[2021-07-21 08:33] rolandgeider commented on #59
In our case, [this is how the depencencies changes](https://github.com/wger-project/flutter/compare/release/1.2.0..release/1.2.1#diff-8b7e9df87668ffa6a04b32e1769a33434999e54ae081c52e5d943c541d4c0d25). You can move your app to null safety, even if not all dependencies support it, I also spent quite some time till everything worked.

[2021-07-21 08:46] M123-dev commented on #59
@dgurudot

First of all have you added the wake lock permission to **ALL** profiles, like @rolandgeider did here:
https://github.com/wger-project/flutter/commit/df8beaa379e9a921976d1eb40ab4b14c0d3e3f9d

When you've done that try to bring all dependencies up to date and while doing that you can check which dependencies use flutter_html.

When you visit a package on pub.dev you can see on the right

[2021-07-23 16:29] rolandgeider opened #64 "Don't use shared preferences to store data"
Shared preferences should only be used to store… preferences and not dump data in it (like we do with the exercise cache)

See also #161

[2021-07-23 19:06] M123-dev commented on #64
For caching we can use [flutter_cache_manager](https://pub.dev/packages/flutter_cache_manager) then we don't have to implement a db or something.

[2021-07-26 15:09] #18 closed

[2021-08-11 11:45] #52 closed

[2021-08-15 06:39] prakash-shekhar opened #68 "Training logs do not automatically load"
## Steps to Reproduce

1. Complete a set in a workout plan
2. Go to Workout logs

**Expected results:**

Workout logs should appear below the calendar

**Actual results:**

The workout logs only show up after clicking a different date and clicking back to the original date

[2021-08-17 12:33] #68 closed

[2021-08-22 19:43] rolandgeider opened #70 "Allow user to give meals a description"
Implement https://github.com/wger-project/wger/issues/773

[2021-08-27 13:20] rolandgeider opened #71 "Allow user to set and edit profile"
## Use case

Allow user to set and edit profile, most importantly email.

## Proposal

When we implement the exercise crowdsourcing, users will need to have a verified email address. We need to allow users on the flutter app to set and change their profile and email. At the moment the actual user profile is available under `/api/v2/userprofile` while the email can't be accessed over the api.

We s

[2021-08-28 21:13] patrickwitter opened #72 "User not notified about server side errors when updating weight. Results in seemingly unresponsive UI"
## Steps to Reproduce

https://user-images.githubusercontent.com/53438425/131231052-0b224f23-9cd8-4380-b21e-9b088eb868a8.mp4

**Expected results:**
A pop-up explaining to the user that a server error had occurred and some steps to resolve it. (if any)
Also, the user should be taken back to the dashboard or weight form
<br/>
**Actual results:**
Unresponsive UI (from user's perspective) when save bu

[2021-08-30 20:19] #72 closed

[2021-09-06 20:02] #53 closed

[2021-09-08 15:58] #37 closed

[2021-09-15 09:42] #23 closed

[2021-09-16 16:31] rolandgeider opened #76 "Nutrition: don’t force users to set up a plan"
## Use case

Not all users want to set up a complete plan up front, many just want to track their calories.

## Proposal

Allow the user to fill in a simple form for total energy or a combination of protein - carbs - fat (energy can be calculated from this). Alternatively of course, no goals can be set, just logging. The rest of the logic with the nutritional values, charts, etc should still work

[2021-09-16 16:37] rolandgeider opened #77 "Add support for units in nutritional plans"
## Use case

Add support for different units in the mobile app, you want to log "1 banana" and not "80g of banana"

## Proposal

The backend already supports this, we need to read the units and allow the user to set them when creating a plan or logging an ingredient

[2021-09-16 16:39] rolandgeider opened #78 "Add ingredient images"
## Use case

Seeing the image when logging or searching for a product would be really useful and comfortable for the user (can see the brand, etc. )

## Proposal

Add images for the ingredients, there is already a branch in the backend that retrieves them if none is known locally, but we need to think on how to make retrieving them more performant.

https://github.com/wger-project/wger/tree/featur

[2021-09-16 16:42] rolandgeider opened #79 "Add quick access to logged products"
## Use case

Instead of having to search each time for new products, show a list with the last n logged ones

## Proposal

Present the last (distinct) n products in some quick access list. When clicked, the last logged ingredient and quantitiy will copied over to that the user can still change the values

[2021-09-16 16:46] M123-dev commented on #77
I see you are not using the [off-dart package](https://pub.dev/packages/openfoodfacts) but query from your backend. However, it is certainly interesting to know that we already have something like this in place.

https://github.com/openfoodfacts/openfoodfacts-dart/blob/c9f629bcf5e5ba11306587127f4998d9217ad130/lib/utils/UnitHelper.dart

[2021-09-16 16:47] rolandgeider opened #80 "Nutrition: add reference from log to meal"
## Use case

At the moment the different logs only have a foreign key to the plan and it's not possible to know to which meal they belong (other than the time, but that's error prone). This would also allow to show some statistics about the different meals, etc.

## Proposal

Add an optional foreign key from Log to Meal. When a meal is "quick logged" the reference can be set automatically, when th

[2021-09-16 16:49] rolandgeider commented on #77
Yeah, I had my own DB structure before I knew of OFF! :) We will take a look at how you did it though

[2021-09-16 16:52] rolandgeider opened #81 "Log individual ingredients/products"
## Use case

At the moment, the flutter app does not allow to log custom entries, which makes it.... slightly less useful as it could be....

## Proposal

Add a button that shows a dialog that allows the user to log individual ingredients. The dialog would be practically identical to the one used when adding an ingredient to a meal. the user selects and ingredient (or even better: scan! #5 ) as we

[2021-09-16 16:57] rolandgeider opened #82 "Consistenly display nutritional values"
At the moment, the nutritional values are displayed differently in many screens. Specially for places with little space we should use a compact and consistent way of displaying them.  The most obvious option would be to display the initials: E(nergy), C(arbs), P(rotein), F(at), but we need to take translations into account

[2021-09-16 17:06] rolandgeider opened #83 "Allow users to submit new ingredients or corrections to OFF"
## Use case

Ideally users could spot errors in the ingredients and submit corrections or even completely new ones.

## Proposal

Take a look at the Open Food Facts package, and if this is not possible/too hard add a link to the OFF website

https://pub.dev/packages/openfoodfacts

[2021-09-17 20:27] Ram-Z opened #84 "Publish app on F-Droid"
## Proposal

Publish wger on F-Droid.

[2021-09-17 20:42] rolandgeider commented on #84
Hi! Yeah, this is planned, it's just that we need to change some things so that f-droid can build from source (things like moving the fastlane config to the root folder or saving the API keys)

[2021-09-17 21:50] Ram-Z commented on #84
Anything I can help with? I'm not familiar with flutter or f-droids requirements but happy to read up if pointed at the right places.

[2021-09-18 09:19] M123-dev commented on #84
We release the app with [fastlane ](https://fastlane.tools/) running on [github actions](https://github.com/features/actions).
You can find the workflow in this repository under [.github/workflows/android-release.yml](https://github.com/wger-project/flutter/blob/4eb1580359f362ddf7920a7bb218c411b2c90adc/.github/workflows/android-release.yml)

You can inform yourself if there are either fastlane plu

[2021-09-18 12:24] Ram-Z commented on #84
Thanks. I'll read up on that.

Been looking into the process of registering f-droid applications [here](https://f-droid.org/en/docs/Inclusion_How-To/#Proposal_by_Metadata_Merge_Request) and [here][https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md#merge-requests), it seems that f-droid will build their own apks to publish on they store. We just need to provide the commands to publish

[2021-09-19 17:55] rolandgeider commented on #84
Thanks for looking into this!

Yes at the moment the whole process is automated and we only need to push to those branches, but addind some tags shouldn't be a problem. Do you know if fdroid use the builds made by fastlane or is it only for the metadata?

I originally created the fastlane config within the android folder because that's how it was described in [the flutter docs](https://flutter.dev

[2021-09-19 23:22] Ram-Z opened #85 "Failure to build"
## Steps to Reproduce

1. clone source
2. run `flutter gen-l10n`
3. run `flutter build appbundle`

**Expected results:**

Build succeeds.

**Actual results:**

Build fails with this message and many more, see full logs below.

[code]

[code]

<details>
  <summary>Logs</summary>

[code]
</details>

[2021-09-19 23:34] Ram-Z commented on #84
From what I understood fdroid only uses fastlane for metadata, it will use it's own build commands defined in the [metadata.yml](https://gitlab.com/Ram-Z/fdroiddata/-/blob/60764fff9cf88ca9934f59b80fb0ce68770de60a/metadata/de.wger.flutter.yml#L22-25) file. However it might infer those build commands from fastlane, I don't know.

Looks like I am, I've opened https://github.com/wger-project/flutter/i

[2021-09-19 23:35] Ram-Z commented on #85
As mentioned in https://github.com/wger-project/flutter/issues/84#issuecomment-922512051, is might be due to me using flutter 2.5.0.

[2021-09-20 05:46] M123-dev commented on #85
Maybe try running the app instead of `flutter gen-l10n` this should also build the translation files.

Otherwise you can get another version by downgrading

`flutter downgrade <version> `
(example: `flutter downgrade v1.2.1`)

[2021-09-20 06:35] rolandgeider commented on #85
This is definitely the (generated) translation files missing and this should work automatically, without any manual calls to `gen-l10n`. Besindes the running `pub get` there should be no other steps needed, nothing else is done when building with github actions

The issue with flutter 2.5 I meant is this one https://github.com/google/charts/issues/678 btw

[2021-09-23 19:26] Ram-Z commented on #84
OK, so I've got as far as generating the apk using fdroid's build server. https://gitlab.com/Ram-Z/fdroiddata/-/jobs/1604780724

It failed on verifying that the version in the metadata file and the one in the apk match.

[code]

It seems that the apk version is drawn from [pubspec.yaml#L23](https://github.com/wger-project/flutter/blob/master/pubspec.yaml#L23), which is being modified during the gi

[2021-09-23 20:28] rolandgeider commented on #84
That sounds really promising!

At the moment the GitHub actions automatically reads the version code from Google play and increments it by one during build time, but we can simply set it manually in the pubspec.yaml or perhaps even write it back

[2021-09-23 20:39] M123-dev commented on #84
@Ram-Z, thats sound like great progess and yes exactly, the version in the pubspec. on master  is actually irrelevant, it is overwritten by fastlane cf: https://github.com/wger-project/flutter/blob/master/android/fastlane/Fastfile#L28

The idea was to automate as much as possible. I actually made the workflow design for another project which is also published on the AppStore. But since IOS and And

[2021-09-23 20:44] rolandgeider commented on #84
I like the idea of using releases to trigger the build on f-droid. Cider looks really interesting as well

[2021-09-23 20:51] M123-dev commented on #84
@rolandgeider now that depends on your preference. We can either start the android workflow by committing to a branch (as it is now) which then creates a Github release to notify F-Droid  or we can start the release workflow by a manually created release, it should make that much of a difference for the automation workflows.

cf: https://github.community/t/how-to-get-just-the-tag-name/16241

[2021-09-23 21:16] Ram-Z commented on #84
It's all defined in the [metadata file](https://gitlab.com/Ram-Z/fdroiddata/-/blob/wger/metadata/de.wger.flutter.yml#L15). This was initially generated via `froid import --url <this-repo>`. However it failed to set the version and build number because there are no tags. So I've put them in myself, didn't know what the build number was, so left it at `0`.

There is also `fdroid checkupdates` which

[2021-09-26 15:22] M123-dev commented on #84
@Ram-Z
If I understood this correctly, the problem is that we do not create github releases.

Does F-Droid need a build number or not, when not we could just create a github release with the branch name at the bottom of the release workflow.

------

The problem is such that we have a separate workflow for each platform, for reliability and overview reasons. Committing the version did not make any

[2021-09-30 11:06] thilinatnt commented on #70
Can I work on this issue, please

[2021-09-30 11:08] rolandgeider commented on #70
It's yours

[2021-09-30 13:47] ThilinaTCH commented on #70
Hi
Sorry I was asked to assign to a wrong GitHub account, please assign the issue to the original user

[2021-09-30 14:20] rolandgeider commented on #84
I'm tending towards keeping the current workflow and creating a release, which would trigger an f-droid build. We could write the build version we get from google play with cider back to pubspec.yaml so that f-droid can use that. And since we don't have any workflows for iOS we also don't have that problem.

Can you post the PR here when you open it @Ram-Z ?

[2021-09-30 14:21] rolandgeider commented on #85
Is this still a problem?

[2021-09-30 14:33] rolandgeider opened #86 "Use flutter_lints package"
From https://flutter.dev/docs/release/breaking-changes/flutter-lints-package

Since this project was created before that package was available, we need to migrate manually. Note that at the moment the app can't be build with flutter 2.5 due to https://github.com/google/charts/issues/678

[2021-09-30 15:10] M123-dev commented on #86
Maybe this help: https://github.com/google/charts/issues/678#issuecomment-917163703

[2021-09-30 15:13] rolandgeider commented on #86
I saw the workaround, I would say we can use it while working e.g. on this issue, but I would prefer not to commit to master

[2021-09-30 15:38] M123-dev commented on #86
I can do this in the next days, it shouldn't take that long

[2021-09-30 16:10] rolandgeider commented on #86
That would be great. There's no hurry, I mainly opened the issue so I don't forget about it

[2021-09-30 20:31] Vikkybliz commented on #86
I can add the flutter_lint @rolandgeider should specify the rules you want there

[2021-10-01 06:01] TaarnStar commented on #32
Hi, I am fairly new to flutter but would like to try and do this issue. Could I be assigned to this issue?

Thanks

[2021-10-01 08:54] rolandgeider commented on #86
I would say that we keep the rules as similar to the current ones as possible, we can always tweak them in the future

[2021-10-01 09:27] rolandgeider commented on #32
It's yours!

I would suggest first implementing deleting the entries (if you want, open a new issue for this). As for the editing, don't allow the users to edit the exercise, just the other attributes. Also, since you need a backend for this, I can give you access to the test server, then you don't need to setup docker or anything, just write me over discord or per mail

[2021-10-01 13:48] M123-dev commented on #86
@rolandgeider I started migrating. Just using `flutter_lints` causes 800 problems in the analyzer. If its okay with you I will change some logical linting rules so that we don't have to rewrite everything

[2021-10-01 14:13] rolandgeider commented on #86
uff, are the new default rules so hard? but sure, tweak them as much as you think

[2021-10-01 14:17] M123-dev commented on #86
After applying some basic ones it got even worse, I am about to fix some important ones but I' ll postpone some of them that should definitely be changed in the future to a follow up PR

[2021-10-02 04:36] TaarnStar commented on #32
@rolandgeider I sent you an email for access to the test server :)

[2021-10-02 09:04] Coffiie commented on #78
Hello,
I see you have lots of good first issues open and would like to contribute to them. @rolandgeider

[2021-10-02 09:52] rolandgeider commented on #78
Hi @Coffiie ! Sure! Did you want to do this one?

[2021-10-02 10:56] #86 closed

[2021-10-02 20:36] TomerPacific opened #88 "Add Hebrew Translation To Wger"
## Use case
Allow Hebrew speaking users to use the application
## Proposal

As part of the many languages detailed in the translation listed [here](https://hosted.weblate.org/engage/wger/), I would like to suggest the addition of Hebrew.

Willing to help out with the translations.

[2021-10-02 20:37] TomerPacific commented on #31
@rolandgeider , can I help out with this issue?

[2021-10-03 03:42] ThilinaTCH commented on #58
Can I work on this?

[2021-10-03 03:46] ThilinaTCH commented on #54
@rolandgeider can I work this?

[2021-10-03 06:59] Coffiie commented on #78
Sure, please assign this to me and I can begin

[2021-10-03 08:33] rolandgeider commented on #88
Hi! For the mobile application you should be able to add a new language directly on weblate, for the regular web application this is something that I need to do manually. If this doesn't work, just ping me

If you start translating I'm guessing we will have a couple of places where the application breaks or doesn't look good when using a right-to-left language

[2021-10-03 08:38] rolandgeider commented on #78
It's yours!

Note that you need the branch for the backend to return the images. Do you want to setup a local docker instance? I could setup a test server the next days otherwise

[2021-10-03 08:40] rolandgeider commented on #58
you got it

[2021-10-03 08:41] rolandgeider commented on #31
all yours

[2021-10-03 08:42] rolandgeider commented on #54
sure

[2021-10-03 09:13] TaarnStar commented on #32
@rolandgeider I looked a bit in the code, I will open a new issue for delete option, but just to confirm for edit option, user should be able to edit all the attributes except the exercise?

So that would be name, description, category and images? The rest of the options shouldn't be editable?

[2021-10-03 09:15] rolandgeider commented on #32
Workout logs have no images, but yes everything besides the exercise itself should be editable

[2021-10-03 09:15] TaarnStar opened #90 "Allow to delete workout log entries"
Implementing the delete option for workout log entries (connected with issue #32 )

[2021-10-03 09:50] Coffiie commented on #78
Hmm, I have no idea how docker works... but if you think it'd be easy then I can give it a try

[2021-10-03 10:17] TomerPacific commented on #88
@rolandgeider, [added Hebrew language for the mobile application on Weblate](https://hosted.weblate.org/projects/wger/mobile/he/).

[2021-10-03 10:18] rolandgeider commented on #78
We can try :)

1) First clone the web application (https://github.com/wger-project/wger) somewhere, leave master for now

2) Start the docker container, you should be able to open localhost:8000 on the browser.
[code]
if you use windows I had problems with `-v` use this instead `--mount type=bind,source='"C:\path\to your\checkout"',target=/home/wger/src`

3) Load the ingredient data with `docker e

[2021-10-03 12:41] rolandgeider commented on #88
Awesome! Thanks a lot

[2021-10-03 20:14] TomerPacific commented on #88
@rolandgeider , I have done about 90% of the strings translations and there are a few I'd like to consult with you:

- kCal
- kJ
- RiR
- Wger

The above mentioned words do not have a direct translation in Hebrew, so what would you like done?
For example, would you like me to just write Wger in Hebrew? Or translate RiR directly/use the same abbreviation?

[2021-10-04 04:31] rolandgeider commented on #88
would it look weird to leave "wger" with latin letters? I think the name is only shown in the about dialog, but do whatever you think is more natural. The units are mostly (only?) used next to numbers or in a chart so it's also probably alright to leave them

And as for RiR, if there is an existing translation for it, then we should use that one. If not or if you are unsure, then just leave RiR (i

[2021-10-04 05:21] TomerPacific commented on #88
@rolandgeider, I have completed the translation for the mobile application. Since Hebrew is a language which has a he/she change for verbs, in some places I have opted to refer to both genders and in others were it would be a lengthier sentence I have either used the male version or the plural male version.

[2021-10-04 07:08] TomerPacific commented on #31
@rolandgeider, after upgrading my flutter version and installing all the dependencies, I am trying to run the application and getting the following:

[code]

Any idea why this is happening? It seems like something custom to your application as there is no such thing as body1. Maybe you meant bodyText1?

[2021-10-04 07:10] rolandgeider commented on #88
thanks! Weblate should commit the changes in the next hours.

I'm closing this issue, if there's something else broken or anything we can reopen it or make a new one

[2021-10-04 07:10] #88 closed

[2021-10-04 07:12] rolandgeider commented on #31
for a change that's not on us, but on one of the dependencies 😅

You can use the 2.2.x version till they release an updated version

[2021-10-04 07:13] rolandgeider commented on #31
for a change that's not on us, but on one of the dependencies 😅

You can use the 2.2.x version till they release an updated version

[2021-10-04 07:14] rolandgeider commented on #31
I mean flutter 2.2.x

[2021-10-04 07:16] TomerPacific commented on #31
Yeah, I got you.

[2021-10-04 07:31] TomerPacific commented on #31
Trying to run flutter downgrade to any version that is 2.2.x and getting:

[code]

It defaults to downgrade to version 2.0.2.

[2021-10-04 07:36] rolandgeider commented on #31
that's strange, are you on the stable channel?

If that doesn't work, there is a workaround to make the package work with 2.5, just don't commit that: https://github.com/google/charts/issues/678#issuecomment-917163703

[2021-10-04 09:04] TomerPacific commented on #31
@rolandgeider, yes I am on the stable channel. Ran flutter doctor and this is the output:

[code]
I'll use the workaround you suggested (and won't commit it).

[2021-10-04 09:07] rolandgeider commented on #31
BTW, you will need the backend server for this. If you don't want to setup everything with docker I can give you access to the test server, just write me an email

[2021-10-04 10:47] M123-dev commented on #31
Same thing happend for me, I also ended up using the workaround, but it seems like it worked when downgrading when in master channel.

[2021-10-04 11:09] TomerPacific commented on #31
@rolandgeider, since I am using a Windows machine, I had previous problems running docker on it. I'll write you an email so I could use the test server. Thanks.

[2021-10-04 13:05] rolandgeider commented on #31
Just sent you the login. And yeah, Docker in windows has gotten much better, but it still doesn't feel completely native.

(use a day with few exercises, otherwise you'll have to click yourself to death to get to the end of the gym mode)

[2021-10-04 15:25] TomerPacific commented on #31
Now that I have everything up an running I can better understand what is desired in this issue.
When talking about the session form, I am guessing you are referring to this page:

![qemu-system-x86_64_JTLOKv57eC](https://user-images.githubusercontent.com/23402988/135878862-89f1c8f6-ae86-4e68-b42a-94326568baf8.png)

As stated, it uses the current time of the device. When you say it should instead u

[2021-10-04 15:27] rolandgeider commented on #31
Yeah, that's the one. If you change the time and click to edit, the current time is selected again

[2021-10-04 15:32] TomerPacific commented on #31
@rolandgeider. got it. I thought you want other values to show up when the screen is first shown.

[2021-10-05 07:38] sandimilohanic commented on #5
Hi @rolandgeider , I am a beginner in flutter, but I would like to try to solve this problem. Can I work on this issue?
Thanks.

[2021-10-05 07:42] rolandgeider commented on #5
Hi! Somebody else had asked to to do this issue, I've written them again to confirm

[2021-10-05 07:56] rolandgeider commented on #31
I meant that if you set the time and click to edit it again the pre-selected time is always "now", regardless of what is on the field

[2021-10-05 10:55] adyhnat commented on #21
Hey guys I would like to work on this, if there will be any difficulties I will write down in a thread

[2021-10-05 10:56] adyhnat commented on #21
Hey guys I would like to work on this issue. I will discuss any problems etc in the comments

[2021-10-05 11:58] AdoHal commented on #5
Hi! Thats me, you can assign it to me.

[2021-10-05 12:10] AdoHal commented on #5
Hi! Its me. You can assign it to me. Thanks.

[2021-10-05 13:33] sandimilohanic commented on #82
@rolandgeider Is it possible to take?

[2021-10-05 13:34] rolandgeider commented on #82
All yours

[2021-10-05 13:41] sandimilohanic commented on #29
@rolandgeider Is there already an endpoint or url to endpoint for checking to require version? If not yet, where should the endpoint be made, in the existing project or?

[2021-10-05 13:51] rolandgeider commented on #29
no, there is currently no endpoint. If you want to also add it to the backend, go ahead, but I can also do it. The endpoint would return something looking like this "2.1a2.dev0", "2.1.3a2.dev0", "2.1.3b1", "2.4", "2.4.5". There are dart packages that can parse this

[2021-10-05 14:03] #58 closed

[2021-10-05 15:02] sandimilohanic commented on #29
@rolandgeider I would be grateful if you could add an endpoint. thx

[2021-10-05 15:06] rolandgeider commented on #29
Will do. You can work with hard coded values till then

[2021-10-05 16:36] sandimilohanic commented on #82
@rolandgeider  These fields are a problem?

![Screenshot 2021-10-05 at 18 25 38](https://user-images.githubusercontent.com/7765448/136064776-e5cbc36c-c36c-4bb2-9259-d892b31f6d6d.png)

[2021-10-05 16:43] rolandgeider commented on #82
Yes, the bottom one (the table is big enough to show the full names), but also
* the log detail page (just click on one of the dates), the entries for the individual ingredients
* in the dashboard the values for the individual meals

[2021-10-05 18:21] Shubhankaroad commented on #46
Hey @rolandgeider , i would like to work on this issue. Can you please assign it to me?

[2021-10-05 18:28] rolandgeider commented on #46
Sure

[2021-10-05 18:31] rolandgeider commented on #46
The plate calculator is used on the gym mode, just create a workout with a day and an exercise with some reps and weight

[2021-10-05 19:22] TomerPacific commented on #31
@rolandgeider, now I understand completely. The issue is probably because:

[code]

and

[code]

I thought about adding a ternary that does the following:

`initialTime: _session.timeStart != null ? _session.timeStart : widget._start`

Because these two fields are initialized late, I can't just check their value (it throws an exception).

What would you prefer that we do?

- We can give these fiel

[2021-10-06 10:29] rolandgeider commented on #31
I'm thinking, when is `_session` created anyway? Can't we just make sure it always have a start and end time?

[2021-10-06 14:26] TomerPacific commented on #31
Session is initialized here (inside gym_mode.dart):

[code]

The constructor leads to the session.dart class, which is a representation of a session with all the fields (which are declared late).

The session data itself is being fetched from workout_plans.dart:

[code]
But (using the mock sever data), when fetching a session that does not exist on the server, I am guessing that all the fields are

[2021-10-06 17:57] rolandgeider commented on #31
even simpler :) Go ahead with this

[2021-10-06 18:02] TomerPacific commented on #31
@rolandgeider, I have opened a PR (after testing the solution). Would you mind adding the hacktoberfest-accepted label to this issue?
Also, in the PR template it says to add myself to the authors.rst file? I found the authors.md file and didn't know if I should add myself to it.

[2021-10-06 18:32] Shubhankaroad commented on #46
How to login in to this application? Do i need to register as a user or is there any test server? And if there is any test server could you please tell me how to access it?

[2021-10-06 18:59] rolandgeider commented on #46
You will need to register manually on the testserver, then you can login using the username (be sure to click on "custom server" before): https://wger-master.rge.uber.space/

[2021-10-06 19:02] Shubhankaroad commented on #46
Thank you so much @rolandgeider

[2021-10-06 19:13] rolandgeider commented on #82
The problem with the expanded list is that you can't compare the values (but I know that the current way is not perfect).  And now that I see, I would remove the sugars and saturated fats from the view, those would be only available on the detail page, but that's something you don't need to do.

I would leave the first table as it was, but use the initials on the list view and the dasboard

[2021-10-06 19:45] sandimilohanic commented on #82
All right, I'll add the initials to the list view and dashboard.

I will remove sugars and saturated fats from the list view, I do this in the same issue?

[2021-10-07 14:33] infiniteoverflow opened #95 "Circular Progress Indicator dosen't stop if Exception occurs during Auth"
## Steps to Reproduce

1. As soon as the auth screen opens, click `Register Instead`
2. Enter details and press Register
3. `MissingPluginException` is caught and a dialog box is shown with the exception message.
4. Close the dialog, and you can see the circular progress indicator is running continuously on both the Register and Login Screens.

**Expected results:** Once we close the dialog box, t

[2021-10-07 14:42] infiniteoverflow commented on #95
Alright ! I will fix this issue and look into that plugin part as well after this.

[2021-10-07 17:46] rolandgeider commented on #29
oh sorry, forgot to tell you, you need to use this URL https://wger-master.rge.uber.space/api/v2/min-app-version/

(wger.rge.uber.space has a different branch checked out)

[2021-10-07 17:52] #95 closed, assigned to infiniteoverflow

[2021-10-08 11:55] #82 closed

[2021-10-08 18:27] sandimilohanic commented on #29
Does it look good?  Do I need to add any more elements?

<img width="312" alt="Screenshot 2021-10-08 at 20 24 57" src="https://user-images.githubusercontent.com/7765448/136607989-15238e6b-fe7d-4b00-b3da-5c3267f3bf1f.png">

[2021-10-09 08:08] rolandgeider commented on #81
It's yours

[2021-10-11 17:43] sandimilohanic commented on #80
Is this ready for development? Backend changes are done ?

[2021-10-11 17:49] rolandgeider commented on #80
Wait, the new field still needs to be exposed over the API, but that's a one liner

[2021-10-13 15:38] rolandgeider opened #101 "Refactor login page"
At the moment, the login page has a couple of minor problems:

- ~error messages from the server are not shown (the provider is refreshed)~
- after logging in, the screen "flickers" a bit because we show a different screen while waiting for the response for the server
- due to #100, while the application checks whether it is compatible with the server, it loads the home screen, which triggers all

[2021-10-14 08:32] rolandgeider commented on #80
It will be simply called "meal". I can try to set the serializers on the backend today or tomorrow

[2021-10-14 15:46] #70 closed

[2021-10-14 15:47] #54 closed, assigned to ThilinaTCH

[2021-10-18 19:45] TaarnStar opened #103 "RiR slider doesn't work as it should"
## Steps to Reproduce

1. Go to any workout and start it
2. On the exercise page check the option Set units and RiR
3. Try to change the RiR with slider

**Expected results:** the expectation is that the slider immediately shows the changes

**Actual results:** the slider doesn't move, after turning off the checkbox and later turning it on, the changes are visible on slider

![image](https://user-

[2021-10-20 19:31] YasserAntonio opened #104 "Build IOS : error on the name of an getter"
## Steps to Reproduce

1. git clone https://github.com/wger-project/flutter.git
2.  cd flutter/ios && flutter build iOS
3. get the error

**Expected results:**
iOS app builded
**Actual results:**

<details>
  <summary>Logs</summary>

[code]

</details>

[2021-10-21 10:51] YasserAntonio commented on #104
Thanks !  it worked.

[2021-10-21 10:52] #104 closed

[2021-10-27 15:39] TaarnStar opened #107 "Reps width in chart bigger than the screen"
## Steps to Reproduce

1. Create a workout set of one type with multiple sets (for example push up sets with each set different reps)
2. After finishing the workout with all steps go to the calendar and if there are more than four sets there is an error of overflowing
3. Another way to reproduce the issue is to have the same workout throughout the month with all sets with different reps (more like

[2021-10-27 17:57] rolandgeider opened #109 "Make order field of sets required"
## Steps to Reproduce

The order field for the sets needs to be required, otherwise an exception will be thrown when sorting. We also need to check how/if the backend enforces this

<details>
  <summary>Logs</summary>

[code]

</details>

[2021-10-27 18:20] rolandgeider opened #110 "Add dark mode"
## Use case

Add a switch to activate dark mode

## Proposal

This is more a nice to have. The preference could be saved locally and read after login in. There are a couple of places where a specific color is used, so those would need to be cleaned up for this issue.

[2021-10-28 08:38] rolandgeider opened #111 "Make app usable on landscape mode"
## Use case

At the moment the app is only usable in portrait mode (in a phone)

## Proposal

It would be a nice to have feature if we could support landscape mode or at least make it a bit more usable / user friendly. Other screen sizes such as tablets are not a priority at the moment but if somebody wants to work on them, I'll happily assist wherever I can.

[2021-10-28 09:46] #109 closed, assigned to nobody

[2021-10-29 10:05] #107 closed, assigned to TaarnStar

[2021-10-31 05:53] #103 closed

[2021-10-31 10:33] AlbertoYabeda commented on #83
import 'package:flutter_gen/l10n/app_localizations.dart';

@rolandgeider, does this file exist?

[2021-10-31 11:11] rolandgeider commented on #83
It's generated when you build the app. sometimes my ide doesn't recognize it and marks it but the app builds just fine

[2021-10-31 11:47] AlbertoYabeda commented on #83
it does not work for me.
I did even try to run flutter gen-l10n to see if it could solve the problem. but it does not.
but i'm gonna do some researches to see if i can find a solution

[2021-10-31 11:55] rolandgeider commented on #83
Strange. So it doesn't even compile?

[2021-10-31 12:08] AlbertoYabeda commented on #83
the compiler says the URI doesn't exist.
so when I run the program it promps this errors "Error when reading '.dart_tool/flutter_gen/gen_l10n/app_localizations.dart': The system cannot find the file specified." for every files the call that path file.

ib/main.dart:136:35: Error: The getter 'AppLocalizations' isn't defined for the class 'MyApp'.
 - 'MyApp' is from 'package:wger/main.dart' ('lib/ma

[2021-10-31 12:38] rolandgeider commented on #83
Indeed. If you find a fix let me know, then we can document this if it happens to others

[2021-10-31 12:47] AlbertoYabeda commented on #83
Of course.

[2021-11-03 18:41] #81 closed

[2021-11-03 21:04] rolandgeider commented on #85
There's an updated version of the charts library that makes master copatible with flutter 2.5, closing here

[2021-11-03 21:04] #85 closed

[2021-11-03 21:25] AlbertoYabeda commented on #83
hi @rolandgeider

I solved the first error shared with you by adding that lines to my pubspec.yaml.
there was a problem on the url, there was missing the ".git" extension.
after that, I head to change the variable body1 to bodyText1 of the file in the directory C:\src\flutter.pub-cache\hosted\pub.dartlang.org\charts_flutter-0.9.0\lib\src\behaviors\legend\legend_entry_layout.

There's still somethi

[2021-11-03 21:35] rolandgeider commented on #83
Hi! The charting library recently released a new version that is compatible with 2.5, if you pull master you won't need the workaround anymore.

And as for the localizations, that is the place where flutter should place the synthetic package. Perhaps you can try flutter clean and try again (perhaps with 2.5?). From my experience, sometimes the IDE doesn't recognise the package, but that's not the

[2021-11-04 23:36] AlbertoYabeda commented on #83
Hi sorry for taking along.
the app is already running. I think the problem was the compatibility with my Flutter.
now with Flutter 2.5 I just had to
- pull the master branch
- run pub get
- run the app

that error was a big deal.
thankiu

[2021-11-05 13:40] rolandgeider commented on #83
don't worry man, glad this works now! BTW since you need a backend, you can register on the testserver (just click on custom server before loggin in) https://wger-master.rge.uber.space/

[2021-11-05 15:31] AlbertoYabeda commented on #83
Ops, I was working on the default server.
already registered on that.

I have a doubt related to this issue (the way the feature has to work, just to be clear).

by clicking at the added ingredient item of the meal (on the plan details screen), it can open a new screen with the options to add new ingredients of that OFF product right?

[2021-11-05 21:07] rolandgeider commented on #83
oh sure, use the the regular server, no problems.

To give you a bit of background, the ingredients we have currently in the database come mostly from open food facts and a couple of others from the US department of agriculture. You can think of OFF as a wikipedia for food products where everybody can contribute. Some of the ingredients/products from OFF are imported to wger every couple of months

[2021-11-05 21:43] AlbertoYabeda commented on #83
I need that background about the US department of agriculture. thanks
About the OFF database, I was reading the documentation early, to edit an existing product there's no need to be authenticated (to add an ingredient of a product for instance). The thing I'm not sure is about adding a new product(I think it can be done with or without authenticated user).

If u want to take a look, u can check i

[2021-11-05 21:58] rolandgeider commented on #83
I'm also thinking, directly adding a new product might not be the best idea, we don't have the complete OFF database and just because we can't find a product in our DB, it might still exist. If we had scanned it (#5 ) we could be sure that it really is not known

[2021-11-05 22:06] AlbertoYabeda commented on #83
so the feature will be just to update the ingredients?
for example, the coca-cola zero from OFF
it has the following ingredients:
carbonated water, colour: e150d, acidifiers: phosphoric acid, sodium citrate, sweeteners: aspartame, acesulfame k, natural aromas (including caffeine)
contains a source of phenylalanine

then a wger user notice that there is missing one more ingredient.
he can update th

[2021-11-05 22:09] rolandgeider commented on #83
we don't save the ingredients of a product on wger (and I see this is also a bit cofusing, what we call "ingredient" in wger is a "product" on OFF). But in general yes, if a user sees that some product infos has some errors, it should be possible to correct it.

[2021-11-05 22:39] AlbertoYabeda commented on #83
ahh, yes! the name of the issue got me (made me think about the ingredients of OFF product).
what is saved by the user in wger is just the name of the product and the nutricional values only right?

So, what has to be done in this issue, is just the feature of submiting the correction of fields (used in wger like name and nutritional values).

disregarding the option of submiting a new ingredient

[2021-11-08 15:01] Heikou commented on #110
I was hoping I could help on this if possible. New to FOSS and trying to cut my teeth, but it looks like it's about as simple as adding dark theme values to theme.dart then replacing hard coded values.

Any way I could help out here?

[2021-11-08 15:18] sandimilohanic commented on #110
Hi @Heikou , I'm still working on this issue. If I need help/support I will contact you.

[2021-11-08 15:24] rolandgeider commented on #84
@Ram-Z I've been playing around with the some updated actions. We can now trigger builds when a new tag is set and a new release is created automatically as well. The correct build number and versions are also written back to the pubspec.yaml file, so there's no magic happening and fdroid can use the same files.

I think the only thing left is see if we can leave the fastlane folder were it is or

[2021-11-09 21:39] rolandgeider commented on #83
sorry, forgot to answer you. Yes, we would just need to submit a correction of the nutritional values

[2021-11-10 12:28] AlbertoYabeda commented on #83
no worries man😅
okey, I'll work on that.

[2021-11-11 23:51] Ram-Z commented on #84
Sorry, I've had very little time to look into this again.

That's brilliant, the f-droid build server can then pick up those tags and build its package from it.

[2021-11-12 00:19] Ram-Z commented on #84
Result!

I've managed to build wger on the [fdroid build servers](https://gitlab.com/Ram-Z/fdroiddata/-/jobs/1775208573), the apk is available as [an artefact](https://gitlab.com/Ram-Z/fdroiddata/-/jobs/1775208573/artifacts/browse/tmp/). \o/

Have not tested it yet, time to go to bed now. I'll be away for the weekend but will try to pick this up again after.

[2021-11-12 00:27] Ram-Z commented on #84
This will have to be addressed somehow though, I suppose, https://gitlab.com/Ram-Z/fdroiddata/-/jobs/1775208573#L2652

[code]

It seems you have that key setup as some sort of secret in the github worflows. Don't think that'll work for f-droid.

Could the API_KEY be set at runtime by the user? Although I suppose that won't work for the wger.de instance.

I'm not really sure, I don't know exactly h

[2021-11-12 07:48] rolandgeider commented on #84
That's great, we are so close.

The API key is only needed during registration, I've added a check that opens a browser when the key is not available, then the users can do that manually. It's probably not the best way to do that UX wise, but it's probably better than nothing

[2021-11-17 10:34] Ram-Z commented on #84
Couldn't install the built apk on my phone because it wasn't signed. Will have to figure out what needs to be done about that.

[2021-11-17 10:35] rolandgeider commented on #84
yes, one more for the todo. Perhaps the "real" f-droid build process does that automatically?

[2021-11-20 21:55] Ram-Z commented on #84
Have created the Request for Inclusion MR on fdroid. Let's see what they say. Thanks for your help so far.

https://gitlab.com/fdroid/fdroiddata/-/merge_requests/10095

[2021-11-20 22:13] rolandgeider commented on #84
Awesome! And thank you so much

[2021-12-09 14:22] randrej opened #116 "Allow connecting to self-hosted instances with self-signed certs"
Currently, the app doesn't connect to my local instance because it has a self-signed cert, even though I've imported the CA in Android.

Can you add an option to allow logging with local cer (or an option to disable cert verification) when you select local server?

[2021-12-09 14:42] rolandgeider commented on #116
This is definitely something we didn't test. It seems flutter's HTTP client uses the list of CAs from mozilla, but it's possible to add own ones

https://api.flutter.dev/flutter/dart-io/HttpClient-class.html

[2021-12-10 11:29] randrej commented on #116
Thanks for the reply.

I seem to have found a way to fix this, but I'm not very familiar with Flutter, being primarily a C++/C programmer.

I found in a StackOverflow post that you can replace the handler for bad certificates in your HttpClient() object: https://stackoverflow.com/a/54359013/1307661

You could add a setting that enables this fix, exposed through a checkbox (called 'self-signed cert

[2021-12-13 13:15] rolandgeider commented on #84
Closing here since the PR on fdroid was merged, now we just have to wait till it's available there as well

[2021-12-13 13:15] #84 closed

[2021-12-20 19:23] mondlicht-und-sterne opened #119 "Problem building app for android 12"
wger was recently published on fdroid -
https://f-droid.org/packages/de.wger.flutter/

with my "lenovo tab android 9 go" i can install and launch the app normally.

But with my "Samsung S21 5G Android 12" I can't install wger, it always gives me the following error message (see screenshot):

Parsing apk file failed!Maybe minSdk of apk is smaller than actual sdk? Look in logcat for more precise war

[2021-12-29 13:23] rolandgeider opened #120 "Add dynamic translations"
At the moment a handful of strings can't be translated, since they come as a response from the server and can't be translated directly with flutter. All of them (I think) are stored in the database and don't change much if ever (things like units, or category names)

Todo:
- extend the i18n extract script we already have on the server side to write a dummy .dart file with the contents
- copy this

[2022-01-02 14:34] pratikb2805 commented on #71
@rolandgeider hey I am new to flutter and have developed some apps with it.
Should I work on this?

[2022-01-02 15:29] rolandgeider commented on #71
Hi, sure! I'll edit this issue tomorrow or so with a bit more infos on what needs to be done on the flutter and the backend side (which would be my tasks)

[2022-01-03 15:05] rolandgeider commented on #71
have updated the description. Since you need a backend for this to work, write me an email and I can give you a user on the test server

[2022-01-03 15:56] pratikb2805 commented on #71
@rolandgeider  Thanks, I will get started on this.

[2022-01-09 06:54] agwanyaseen opened #121 "A RenderFlex overflowed by 77 pixels on the right."
## Steps to Reproduce

1. Create Workout Plan with All Days selected(Mon, Tues, Wed, Thurs, Fri, Sat, Sun)
2. Refresh the Dashboard
3. See the Workout Plan would have overflow error in comma seperated day.(check below image)

**Expected results:**
May be it show show in new line

**Actual results:**
Render Overflow error

</details>

![image](https://user-images.githubusercontent.com/37746694/1486

[2022-01-09 07:31] agwanyaseen commented on #121
I was able to resolve these in my local, Can someone tell me how can i make pull request

[2022-01-09 09:28] #121 closed

[2022-01-22 22:03] rolandgeider commented on #119
Issue was fixed with #123

[2022-01-22 22:03] #119 closed

[2022-01-23 19:53] #5 closed

[2022-01-23 20:53] rolandgeider opened #126 "Use secondary axis for energy"
The graphs for logged / avg / 7 day average should chart energy (measured in kcal) and macronutrients (measured in g), since both use the same axis the energy would dominate the grap. At the moment the energy is commented out, but we would ideally use a secondary graph for the energy so that their values can still be compared

![Screenshot_1642969544](https://user-images.githubusercontent.com/2280

[2022-01-23 20:54] rolandgeider commented on #126
Current solution, without energy
![Screenshot_1642969528](https://user-images.githubusercontent.com/2280729/150697589-5482e573-3b6e-4304-9330-21c59c2e2dc1.png)
:

[2022-01-24 21:51] troyphillips commented on #110
Hi @sandimilohanic , still working on this? If not, I'd like to take a stab at it. No worries if you are

[2022-02-01 14:47] nmfreitas opened #127 "APP language or translation"
Hi, before talking about my isseu i want to thank for the awosome work you guys are doing! Excelente app!
OK, now my isseu.

I instaled the APP via play store version 1.4.1 and F-Droid version 1.4.0 and both come without full english. (See prints) and i cant see an option to chance or translate.

Can someone help?

![Screenshot_20220201_144626_de wger flutter](https://user-images.githubusercontent

[2022-02-01 14:56] rolandgeider commented on #127
Hi! This seems to be a bug in flutter where sometimes it ignores the system language and simply takes the first translation, which in this case is Amharic... (I myself have never encountered this) There is probably little we can do till the flutter guys fix it, we don't do anything with the locale, just use the system language if there is a translation for it.

[2022-02-02 02:32] dugite-code opened #128 "Gallery not refreshing after actions"
## Steps to Reproduce

1. ... Add image to gallery (Or delete an existing image)
2. ... Select Choose from photo library or take image
3. ... Upload file

**Expected results:**
Gallery view should re-fresh and display the newest image

**Actual results:**
Gallery view remains displaying old images until app is fully exited and opened again

Device details:
Motorola One vision Android 11
wger app v

[2022-02-02 07:31] rolandgeider commented on #128
Thanks for reporting this, you are right!

BTW it seems it's enough to switch to another tab and then go back but that's of course still a workaround. We'll probably forgot to refresh the gallery provider or something like that

[2022-02-02 16:15] rolandgeider commented on #128
This is fixed but can't say yet when we will publish a new version

[2022-02-02 16:15] #128 closed

[2022-02-02 16:19] rolandgeider commented on #110
@troyphillips I think you can take the issue if you want

[2022-02-02 17:15] sandimilohanic commented on #110
@troyphillips yss take this issue.   I'm finish a half of task.

[2022-02-09 21:06] DanielHouston commented on #12
Just weighing in here that I'd love this feature. It would allow me to continue to run my wger instance in my home private network and sync data back to it once I I get back on my own network

[2022-02-22 19:59] memoriasIT commented on #120
Wouldn't it be better to supply a locale field in the request to get the correct language and then in backend implement localization?
Btw, I am a native spanish speaker and I might be able to help to translate/correct the Spanish translations :)

[2022-02-22 20:06] rolandgeider commented on #120
that would be a possibility, but would need some changes on the backend as well (e.g. at the moment for things like categories we just read out the data from the database/api and we'd need to add a translation layer there as well), also the flutter app is translated into some languages that the webapp isn't (and vice versa) so we might get a mismatch there as well.

In the end, it's probably easie

[2022-02-22 20:06] rolandgeider commented on #120
and any corrections etc. to the existing translations are of course always welcome

[2022-03-05 11:28] liang799 opened #131 "add support for popular workout plans for new users to choose from"
## Use case

As a new user who is new to fitness and this app, I find it troublesome to search online for a workout plan and manually copying and pasting each of the exercise name into the app.
## Proposal

I would like wger to be able to display some popular workout plans that new users like me can choose.

The popular workout plans should ideally be context sensitive, i.e. only visible to new us

[2022-03-05 12:22] rolandgeider commented on #131
Hi! The idea behind wger was that it would be very unopinionated and would not try to calculate stuff or make any plans for you. That being said, once we implement things like https://github.com/wger-project/wger/issues/848, we should provide at least some basic routines that users could use.

At the moment there are some publicly available routine templates provided by the community (on the web a

[2022-03-05 14:31] liang799 commented on #131
Thank you for the clarification

[2022-03-05 14:31] #131 closed

[2022-03-20 19:34] rolandgeider opened #133 "Load all weight entries"
It seems that at the moment not all weight entries are loaded. Ideally we would rewrite the parts of the provider so that we use the server pagination (we simply need to follow the `next` link till it returns null)

[2022-03-28 18:44] rolandgeider commented on #2
There is beta support for dart packages in dependabot, closing

[2022-03-28 18:44] #2 closed

[2022-03-28 18:46] rolandgeider commented on #24
This is already implemented as part of the exercise crowdsourcing feature

[2022-03-28 18:46] #24 closed

[2022-03-28 18:49] rolandgeider opened #141 "Allow users to edit their email"
Only "trustworthy" users will be allowed to add or edit exercises. At the moment this means that the user has a verified email and the account is older than three weeks.

We need to
- [x] read / write the mail to the user profile object
- [x] add a new endpoint so that the webserver sends the confirmation email

[2022-03-28 18:56] rolandgeider opened #142 "Allow to take pictures when contributing an exercise"
Currently, when submitting a new exercise (`feature/exercise-crowdsourcing`) it is only possible to select exercises from the gallery, it would be useful to allow users to take a picture and select it for upload

[2022-03-28 19:06] rolandgeider opened #143 "Allow editing sets"
At the moment it's not possible to edit workout sets after they have been saved, this should be changed

[2022-03-28 19:13] rolandgeider opened #144 "Dashboard not updating"
It seems the dashboard does not update e.g. the weight diagram after adding an entry this is probably just a missing Consumer or similar

[2022-03-28 19:25] #21 closed

[2022-03-28 20:16] rolandgeider opened #145 "Handle duplicate muscles on muscle overview"
Currently `MuscleWidget` simply renders the list of main and secondary muscles given to it. When a muscle is both main and secondary, only the main background should be drawn (this is something that, if the exercises are saved sensibly should not happen, but we still need to account for it)

![Screenshot_1648498312](https://user-images.githubusercontent.com/2280729/160479745-970e3c2d-bb9a-4c20-8a3

[2022-03-28 20:53] rolandgeider opened #146 "Move references from exercise to exercise base"
Implement https://github.com/wger-project/wger/issues/982 (needs to update min app version)

[2022-04-12 15:43] #120 closed

[2022-04-13 14:00] rolandgeider opened #148 "Allow zooming in the body weight chart"
The body weight chart can potentially have a lot of entries that go back a long time, Having all of this historical data plotted is not always what the user wants and it would be a big improvement to be able to change this. Ideally we could add some kind of touch interface that allows the user to only show the charts in the selected part but adding three buttons ("all", "last year", "last 3 months

[2022-04-13 14:02] rolandgeider opened #149 "Gallery doesn't update"
After adding a picture to the gallery the UI doesn't update, this is probably similar to #144 where there's a `Consumer` missing somewhere

[2022-04-13 14:05] rolandgeider opened #150 "Add masonry type interface to gallery"
Having a masonry type of interface in the gallery would probably be an improvement, at the moment the pictures are shown as squares and details at the top and bottom are cut out. We could try adding a [staggered grid view](https://pub.dev/packages/flutter_staggered_grid_view) and see if it really is an improvement

[2022-04-13 14:07] rolandgeider opened #151 "Show additional charts in the dashboard (nutrition)"
At the moment we only show a pie diagram for the planned nutritional values in the dashboard, it would be useful to also show the logged values for the day (ideally with the possibility to switch between them)

[2022-04-13 14:11] rolandgeider commented on #19
https://github.com/wger-project/flutter/commit/826810f17af7430c44548092e7c88c8fa3f02584

[2022-04-13 14:15] rolandgeider commented on #142
This is already implemented in the exercise crowdsourcing branch

[2022-04-13 14:15] #142 closed

[2022-04-16 16:48] linsui opened #152 "Remove dependency on Google Play Services"
GMS is pulled in the apk by flutter_barcode_scanner. See https://github.com/AmolGangadhare/flutter_barcode_scanner/blob/c466d32d017c29cd34307b5681f697891c55babc/android/build.gradle#L41. Could you please take a look? Thanks!

[2022-04-19 08:19] rolandgeider commented on #152
oh you are right! Do you know of some other barcode scanner for flutter that doesn't depend on the play services?

[2022-04-19 08:37] linsui commented on #152
I don't know. It seems there is no other flutter barcode scanner on F-Droid. But maybe you can try https://github.com/juliuscanute/qr_code_scanner and https://github.com/leyan95/qrcode_scanner.

[2022-04-19 08:38] rolandgeider commented on #152
alright, I'll take a look

[2022-05-03 14:09] rolandgeider commented on #144
Reported by a user: If I create a workout plan and hit the back button, it doesn't show up. I have to go to another page with the bottom nav

[2022-05-08 15:02] rolandgeider opened #160 "Add Cupertino widgets for iOS"
While the app can be built for iOS without problems, it uses material design and looks out of place. This will be specially important when/if this is released on the app store.

Hopefully we can go a long way by simply using in a couple of places a Cupertino widget instead of the material ones.

https://docs.flutter.dev/development/ui/layout/building-adaptive-apps

[2022-05-12 09:21] rolandgeider commented on #146
This is done in the `feature/exercise-crowdsourcing` branch

[2022-05-12 09:21] #146 closed

[2022-05-12 09:29] rolandgeider opened #161 "Save exercises in local database"
At the moment, the exercises are loaded from the server and the JSON dump saved to local preferences. Among other things, shared_prefs should not be used to store data. It would be better to use something like drift to properly store them in a database which then could be bundled as an asset, further speeding up the startup process (with some kind of update process built on top of this). Since thi

[2022-05-12 17:33] rolandgeider opened #162 "Remove splash screen"
Seems we forgot some steps

[code]

[2022-05-16 18:33] makwasi1 commented on #145
Hello, @rolandgeider is this issue still open. If so could you provide more information I would love to try it out?

[2022-05-16 18:45] rolandgeider commented on #145
Hi @makwasi1 sure go ahead! This is available in the `feature/exercise-crowdsourcing` branch, if you go to the workout tab you can access the add exercise form and select the different muscles for the new exercise (note that at the moment there's still a bug so that you need to click on the dropdown to unselect the muscles). Do you already have the app installed? You will need a backend for this,

[2022-05-19 15:55] rolandgeider commented on #152
Mhhh the other scanner apps that I have found have a dependency on Google's MLkit, which is also not FOSS

[2022-05-19 16:30] linsui commented on #152
https://github.com/juliuscanute/qr_code_scanner is used in some other apps in F-Droid.

[2022-05-19 19:18] rolandgeider commented on #152
That one is sadly not maintained anymore. I guess it would be better than nothing, but it still has a "bad taste"

[2022-05-20 03:35] linsui commented on #152
Since the zxing is not maintained either we don't have too much choice.

[2022-05-20 07:57] rolandgeider commented on #152
I guess we don't... grrrr

[2022-05-20 15:44] randrej opened #168 "No results from server visible, local changes temporarily visible"
I'm having trouble using my local wger instance with the flutter app.

I have a local instance of wger running on my home server. It's managed by Ansible, is running on podman (on Rocky Linux) and is fronted with Caddy reverse proxy. I've bought a domain so that I can use Let's Encrypt to issue a real cert for stuff on my home server, so WGER is running behind Caddy with proper https. I'm running

[2022-05-20 16:13] rolandgeider opened #169 "Better failure logging when loading initial data"
At the moment, if one of the requests/steps in `_loadEntries()` in `home_tabs_screen.dart` throws some exception (perhaps because some API response is not what was expected), the error is silently ignored. This causes the app to seemingly load correctly, but shows an empty dashboard

[2022-05-20 16:19] randrej commented on #168
I've fixed the issue:

Apparently, the database wasn't migrated properly because I didn't have DJANGO_PERFORM_MIGRATIONS env variable set. Now that I've enabled it, the DB gets migrated on start, and everything works. I added:

      DJANGO_PERFORM_MIGRATIONS: "True"
      SYNC_EXERCISES_ON_STARTUP: "True"
      DOWNLOAD_EXERCISE_IMAGES_ON_STARTUP: "True"

[2022-05-20 16:19] #168 closed

[2022-05-20 16:20] rolandgeider opened #170 "Add support for JWT"
Depends on  https://github.com/wger-project/wger/issues/1047

[2022-05-20 17:08] #144 closed

[2022-05-20 17:12] #149 closed

[2022-05-20 17:25] rolandgeider commented on #169
See e.g. #168

[2022-06-03 12:25] #141 closed

[2022-06-08 19:47] MakeGnomeWebFast opened #179 "Ongoing notification for workouts"

[2022-06-08 19:55] MakeGnomeWebFast opened #180 "Wrong back swipe ends the workout and there is no chance to continue"

[2022-06-19 13:32] rolandgeider commented on #179
https://pub.dev/packages/flutter_local_notifications

[2022-06-20 18:39] rolandgeider opened #189 "Add simple WYSIWYG editor for exercise descriptions"
Exercise descriptions are currently HTML, so the user should be able to edit it as well. This HTML is cleaned server side when saving, only the following tags are allowed: 'strong', 'em', 'ul', 'ol', 'li', 'p'

[2022-06-21 13:26] rolandgeider opened #191 "Add tests to the exercise submission screen"
At the moment, very little of the logic surrounding the exercise submission process is has tests. What needs to be tested:

- `lib/providers/add_exercise_provider.dart`
- `lib/providers/user.dart`
- `lib/screens/add_exercise_screen.dart` and the individual steps (`lib/widgets/add_exercise/steps/*.dart`)

We don't need/want to do integration testing, so we can just mock the responses from the serve

[2022-06-25 13:00] kovdan01 opened #193 "Can't use a wger instance running on a sub-url"
## Steps to Reproduce

1. Install a wger instance at a sub-url, like https://example.com/wger. I keep in mind that such type of installation is discouraged, but I'm OK with it for my personal usage.
2. Try to login via mobile app.
3. Get `FormatException: Unexpected character (at character 1) <!DOCTYPE HTML PUBLIC ...`.

**Expected results:**

Successful login.

**Actual results:**

A FormatExcept

[2022-06-25 13:04] rolandgeider commented on #193
Hi! Yes, this is a use case that was never tested, so I'm not surprised it breaks stuff (does the regular web app work fine on a sub path?). I'll try to setup this these days

[2022-06-25 14:04] kovdan01 commented on #193
I was able to login as admin and change password. Did not tested the app extensively, but suppose that everything is OK - at least, I've ensured that links point to correct URLs (including sub-url). The only issue that I have noticed - after login you are redirected to clear domain URL instead of sub-url.

Thanks!

[2022-06-28 06:53] rolandgeider opened #196 "Update to flutter 3.0"
Is needed before merging #185 or #163

[2022-06-30 19:15] cortezroberto commented on #179
Hello! Is this issue still available? I'd like to work on it. 🤠

[2022-07-01 06:11] rolandgeider commented on #179
@cortezroberto it's yours! :)

[2022-07-08 12:29] Tolu007 commented on #162
Hello, I would love to fix this, can you assign it to me? Thank you

[2022-07-08 14:03] rolandgeider commented on #162
Hi! It's yours

[2022-07-15 14:18] kovdan01 opened #204 "Add an option to trust user-install CA certificates for custom instances"
## Use case

I have installed a wger instance on my server and have issued a certificate for it (to be more precise, there is a chain of certificates: a self-signed root CA cert, an intermediate CA cert and a server cert itself). I have added CA certificate chain to android user CA certificates storage, and now I'm able to access my instance via Bromite browser (with enabled option to trust user-i

[2022-07-15 19:46] #204 closed

[2022-07-15 20:06] kovdan01 commented on #204
Oh, sorry for opening a duplicate and thanks for such informative reply!

[2022-07-15 20:07] rolandgeider commented on #204
Don't worry 😄

[2022-07-18 13:45] #196 closed

[2022-07-18 13:46] rolandgeider commented on #193
Closed with #192

[2022-07-18 13:46] #193 closed

[2022-07-18 14:13] rolandgeider commented on #162
Closed by #199

[2022-07-18 14:13] #162 closed

[2022-07-22 17:12] kovdan01 commented on #116
Hello @rolandgeider, found a PR on the same topic which might be helpful for you: https://github.com/libre-tube/LibreTube/pull/806. Tested that and it works. TLDR: you just need to alter android manifest appropriately. A drawback of such approach is that you decide that your app trusts user-installed certificates at compile time, and you can't change this behavior in runtime. If it's applicable -

[2022-07-22 17:20] rolandgeider commented on #116
That sounds great. Just editing the XML would obviously be the fastest solution and I think always trusting user certificates would also be acceptable

[2022-07-25 09:47] rolandgeider commented on #16
Idea: add a new provider that controls the current state of the gym mode. This way it would be easier to e.g. swap exercises because a machine is currently occupied. just change the order or configure other things on the fly. This would probably also make it easier for us to do #179

[2022-07-28 09:44] rolandgeider opened #207 "Allow to filter exercises by muscle as well"
Currently the exercise filters only allow to filter by category or equipment. We should add the possibility to filter by muscle like in the web application.

[2022-07-28 09:46] rolandgeider opened #208 "Translate exercise filter headers"
At the moment, the filter headers used for the exercise filters are hard coded in English (in the provider). These strings should be translated like everything else in the application

[2022-07-28 09:47] rolandgeider commented on #208
![image](https://user-images.githubusercontent.com/2280729/181476008-4aaebb1a-7bdb-405b-b9da-a93cd2b9be55.png)

[2022-07-30 15:21] VishSinh commented on #126
Hello,

I'd like to contribute. Can you assign this issue to me @rolandgeider

[2022-07-30 15:23] rolandgeider commented on #126
Hi! Sure, it's yours

[2022-08-04 02:35] dhanvi1911 commented on #110
Hii, I would like to work on this issue.

[2022-08-08 14:42] rolandgeider opened #213 "Build and publish the app as a snap/ flatpak"
(Low prio issue)

The app should build without much effort as a linux desktop application (we probably want to work a bit on #111 before). We could think about publishing on [snapcraft](https://snapcraft.io/build) and [flatpak](https://docs.flatpak.org/en/latest/) if all plugins work there.

[2022-08-09 20:41] mrashleyball opened #215 "Custom Exercises"
Hi, the ability to add an exercise that isn't in the list/data set would be great. I'm trying to move my PTs routine from another fitness app into wger, but without custom exercises, it's just not possible.

[2022-08-09 20:45] rolandgeider commented on #215
Hi! Yeah, making it easier to submit/translate/correct exercises is something we're working on. Everything is basically done, just needs a bit of polishing

[2022-08-09 20:47] rolandgeider commented on #215
https://github.com/orgs/wger-project/projects/2

(Closing here)

[2022-08-09 20:47] #215 closed

[2022-08-11 12:43] kovdan01 commented on #116
Hello @rolandgeider, please let me know if some work is planned on the issue and if I can help somehow (unfortunately, I'm not a flutter developer and can't implement the feature myself). Thanks!

[2022-08-11 14:20] rolandgeider commented on #116
Hi @kovdan01 yes, this is definitely planned. After I finish with the exercise crowd sourcing feature, I'll do this

[2022-08-11 14:51] kovdan01 commented on #116
Thanks!

[2022-08-15 09:46] Raguenote opened #217 "Import of sample workouts for beginners"
## Use case

## Proposal

[2022-08-15 13:32] sumugz opened #218 "Exercise full list with filters"
## Use case

Adding an exercise to a plan is really frustrating to search. I have to search for specific things and sometimes people call different names to the same thing or can't remember the specific name of the machine they want to add
## Proposal

Be able to see a full list, a drop-down list isn't working very well. It would be great to be able to filter by the body part/area
We could also ad

[2022-08-15 15:59] rolandgeider commented on #218
Hi! We're actually current reworking how the exercises are handled and among other things, there will be a searchable and filterable overview (also with aliases/alternative names). While I can't say when exactly this will be done, it's pretty complete already.

Closing this to keep the open issues manageable

[2022-08-15 15:59] #218 closed

[2022-08-15 21:22] 12people commented on #213
I can help with the Flatpak. (Not a fan of Snap, due to its server side being proprietary.)

Here's a manifest for a Flutter Flatpak I released that might serve as inspiration: https://github.com/flathub/com.enjoyingfoss.Parlera

[2022-08-17 05:15] dhanvi1911 commented on #110
Hii,
I was facing an XMLHTTPRequest error while trying to register in the application.

[2022-08-17 07:01] rolandgeider commented on #213
yes, that would be great (but after we release the exercise stuff 😅 )

[2022-08-21 19:43] sarkartanmay393 commented on #145
@rolandgeider I having an issue with setting up the development environment of this flutter project. Can you guide me towards it ? And I need a little more explanation of this issue.

[2022-08-22 13:55] rolandgeider commented on #145
hi @sarkartanmay393 ! I'm guessing you are having problems about the server you need to use? I have sent you an email

As for the issue: we have a widget that generates the muscle overview from the screenshot. For example, when adding a new exercise it is possible to select which primary and secondary muscles the new exercise trains it shows which entries were selected. If a certain muscle was sel

[2022-09-02 11:24] Ombrelin commented on #213
I too would love a release of the app for the desktop via flatpak !

[2022-09-07 04:44] saket2001 commented on #207
I would like to help solve this issue

[2022-09-07 04:51] saket2001 commented on #180
I would like to help solve this issue

[2022-09-07 05:04] saket2001 commented on #170
I would like to work on this issue. Can you elaborate the issue more.

[2022-09-07 17:36] rolandgeider commented on #207
Hi @saket2001 ! that's great, I can give you some more details, in the `feature/exercise-crowdsourcing` branch it is possible to list and filter the available exercises (workout tab -> three dots -> exercise list)

Note that you will need a backend for this, just write me an email so I can give you access to the test server

![Screenshot_20220907_193533](https://user-images.githubusercontent.com/2

[2022-09-07 17:41] rolandgeider commented on #180
@saket2001 it's all yours.

One possibility would be to save the current step and jump to it when re-opening the gym view. This would be reset when reaching the last page with the impression, a different gym mode is started or some time has passed

Depending on how much work you want to do, adding a new gym mode provider might be a good idea that would be also useful for other features

[2022-09-07 17:45] rolandgeider commented on #170
Sure. Currently the server generates a token for each user and that can be used for authentication when using the REST API. The problem is that this token is valid forever and this is not the best from a security perspective. Ideally we would use JSON web tokens which have a limited lifetime and get renewed when using the application.

While this needs support on the backend, the JWT is a standard

[2022-09-08 08:55] rolandgeider commented on #213
Some TODOs

- [ ] adding desktop support doesn't currently work out of the box https://github.com/flutter/flutter/issues/53106
- [ ] uploading pictures to the gallery didn't seem to work

[2022-09-13 17:15] prasad669 commented on #110
I want to work on this issue. If it's okay, assign it to me.

[2022-09-13 19:17] rolandgeider commented on #110
Hi @prasad669 ! It's yours. You can register on wger.de and use that user, then you don't have to setup any backend

[2022-09-16 09:34] yunuskhan35 commented on #111
I am ready to solve this issue so please assign me the issue
Contributors name: Yunus Khan, Golapkar Atharva, Antara Howal, Jahnevi NS

[2022-09-16 10:04] AtharvaGolapkar2401 commented on #151
sir i,m ready to solve this issue please assign me.

[2022-09-16 10:09] rolandgeider commented on #151
Hi @AtharvaGolapkar2401 ! Sure, go ahead.

if you have any questions or problems, just write me

[2022-09-21 19:43] rolandgeider opened #228 "Allow users to contribute to existing exercises"
When `feature/exercise-crowdsourcing` is merged, it will be possible to contribute new exercises, but not to existing ones.

We woul have the same restrictions in place (confirmed email, account older than X days) so that it would be possible to submit new images, correct a typo, add a new translation, etc.

[2022-09-21 19:45] rolandgeider opened #229 "Nutrition: don’t force users to set up a plan"
Flutter part of https://github.com/wger-project/wger/issues/817

[2022-09-24 15:16] rolandgeider opened #230 "Add measurements dashboard widget"
We need a new widget that shows the last measurement entries in the dashboard and allows the user to quickly add new ones (note that it should not be possible to add new categories here, this can be done over the regular view). Since there can be several categories we would need to think of a way to present this to the user in a compact way (perhaps swiping them to the side or something like this)

[2022-09-24 17:22] rolandgeider commented on #71
This was implemented in the meantime, closing

[2022-09-24 17:22] #71 closed

[2022-09-25 14:26] codereacher15 commented on #230
I would like to work on this issue . Can you assign it to me? I am a beginner in open source with little experience pls guide me through the process

[2022-09-25 15:23] rolandgeider opened #231 "Show measurement unit in the add form"
When adding a new measurement we could present the unit in the value field in the form, to make it more clear, so e.g.: "Value (cm.)". The unit can be obtained from the corresponding measurement category

![image](https://user-images.githubusercontent.com/2280729/192151346-d78b0523-1588-4a1d-babb-b1ecafedb32b.png)

[2022-09-25 15:24] rolandgeider commented on #230
Hi, this issue is already taken. Would #231 be something for you?

[2022-09-25 15:28] rolandgeider commented on #229
duplicate of #76

[2022-09-25 15:28] #229 closed

[2022-09-25 15:31] codereacher15 commented on #230
Yes sure,Would love to work on that

On Sun, 25 Sep, 2022, 8:55 pm Roland Geider, ***@***.***>
wrote:

[2022-09-25 15:36] rolandgeider commented on #231
@codereacher15

Since you need a backend for the app to work, you can just use the test server (the db is reset every day, so feel free to change things), just click on custom server in the login screen:

https://wger-master.rge.uber.space/
username: user
password: flutteruser

You can reach the measurements screen from the weight tab and then clicking on one of the little "+" signs (the big one m

[2022-09-25 16:40] rolandgeider opened #232 "Exception when adding some ingredients to a meal"
[code]

[2022-09-27 10:48] rolandgeider commented on #133
Note that this should be done in a more general way so that this can be used in other parts, for example the workout logs

[2022-09-27 11:39] floodoo commented on #231
Hello @rolandgeider,

I saw that this ticket is still open and wanted to take a look. I see two possible solutions. The first solution is to pass the unit as a parameter, like the categoryId. Another solution is to use the Provider, since i have the categoryId. But then I have to iterate through the category list, which costs a lot of performance. Personally, I would consider the first solution. W

[2022-09-27 16:56] codereacher15 commented on #231
Ok sir
On Sun, 25 Sep, 2022, 9:06 pm Roland Geider, ***@***.***>
wrote:

[2022-09-29 14:19] TaarnStar commented on #232
Hi, I would like to try resolve this issue, could you assign me?

[2022-09-29 14:20] TaarnStar commented on #160
Hi, I would like to try to contribute to this issue

[2022-09-30 13:42] rolandgeider commented on #160
Hi @TaarnStar ! Sure the issue is yours. Depending on what we want to do, this could be a huge ticket but I would suggest we exchange/add only the widgets necessary to make the app not feel complelety out of place

[2022-09-30 13:43] rolandgeider commented on #232
Sure! Unfortunately I can't give you a specific ingredient where this happens, but if the traceback is not enough I can try to find out

[2022-09-30 13:48] rolandgeider commented on #231
@floodoo you were too fast, codereacher15 was supposed to work on this :)

[2022-09-30 15:58] codereacher15 commented on #231
Sir is the issue resolved then or should I continue to work on it

On Fri, 30 Sep, 2022, 7:18 pm Roland Geider, ***@***.***>
wrote:

[2022-09-30 16:06] floodoo commented on #231
Oh I'm sorry, that was not my intention. I didn't saw any assignee.

[2022-09-30 22:52] rolandgeider commented on #231
Yes sorry @codereacher15 there is already a PR for this

[2022-09-30 23:02] codereacher15 commented on #231
Its ok I understand

On Sat, 1 Oct, 2022, 4:23 am Roland Geider, ***@***.***>
wrote:

[2022-10-01 06:59] Aaliya-Ali commented on #150
Hello,
I'd like to give this issue a try, let me know if it has been taken already. Also wanted to know if this issue is a part of hacktoberfest. I am new to open source, please guide me on how to get started.

[2022-10-01 08:43] rolandgeider commented on #150
Hi @Aaliya-Ali !

yeah, this repo is participating in hacktoberfest so all issues/PRs count. You can use the test server as a backend then you don't need to setup anything (the DB is reset every day) and there should enough images to see if the masonry is an improvement:

https://wger-master.rge.uber.space/ (click on "custom server" in the login page)
Username: user
Password: flutteruser

Have you

[2022-10-01 08:45] rolandgeider commented on #150
BTW, we expose the image's height and width over the API but currently don't read it or do anything with it, in case you need the information to decide how to display the images

[2022-10-01 10:35] Aaliya-Ali commented on #150
Hey @rolandgeider,
Thanks for all the information! I'll try running the app locally and will let you know in case of any problems. And yes, I have some experience working with git.

[2022-10-01 11:34] rolandgeider commented on #110
@justinbenito is working on this

[2022-10-01 17:35] Aaliya-Ali commented on #150
Hello,
As suggested, I used the flutter_staggered_grid_view package and managed to replace the GridView with a MasonryGridView. Are there any other changes you'd like me to make? Attaching a screenshot for your reference.

<img width="341" alt="image" src="https://user-images.githubusercontent.com/63385197/193421183-6ac2f0bb-8dd8-4c17-afef-bb5b7fed81ce.png">

[2022-10-01 17:53] rolandgeider commented on #150
That looks great!

[2022-10-02 06:30] skdotv opened #243 "Add User Profile"
## Use case

## Proposal

[2022-10-02 06:34] skdotv opened #244 "Add User Profile"
## Use case
-> currently in the app user doesn't have a profile section or description of user to see.
-> User can see his data, update if needed,
-> User can set profile image, change password from user profile detail screen

## Proposal
- it would be good if we add a drawer with  user profile, name and other features in the list like log out, about. as currently it's showing dialog box to show l

[2022-10-02 06:35] #243 closed

[2022-10-02 10:27] yk3066 commented on #244
Do we have to make the frontend of this in flutter? If this is a hacktoberfest issue i would like to take it up

[2022-10-03 16:30] Aaliya-Ali commented on #150
Hello,
It seems like a few tests on my PR failed, is there anything I need to do? Actually, I've never worked with tests before.

[2022-10-04 06:25] rolandgeider commented on #150
you are right, I'll take a look later today, we're probably checking for the old card widgets which can't be found anymore or something similar

[2022-10-04 12:13] rolandgeider commented on #244
Hi @yk3066! Yes this issue is part of hacktoberfest. There is already a UI for some parts of the user profile, but not all fields and not everything is in master yet. Allowing the user to change the password would be very useful

[2022-10-04 12:32] rolandgeider opened #249 "Alternative to charts_flutter?"
It seems https://pub.dev/packages/charts_flutter is being discontinued.

There might be a community driven fork/replacement https://github.com/google/charts/issues/798 but if this doesn't happen, we will need to look for an alternative in the future

[2022-10-04 12:38] joaovvrodrigues commented on #249
I found this project on pub.dev, however I don't know who the author is and apparently there is no modification.

[https://pub.dev/packages/charts_flutter_new/changelog](url)

[2022-10-04 12:42] joaovvrodrigues commented on #249
I agree with you.

[2022-10-04 15:10] #232 closed

[2022-10-04 15:11] sandimilohanic commented on #189
Hi, I would like to try resolve this issue, could you assign me?

[2022-10-04 15:17] rolandgeider commented on #208
Hi! Sure, go ahead.

This is still in the `feature/exercise-crowdsourcing`, you can use the test server for the backend:

https://wger.rge.uber.space
username: user
password: flutteruser

In the workout tab, go to the menu on the top right to exercise list. The provider is the "add exercise provider" and instead of muscle groups we could use "category" which is used in other places and  should alr

[2022-10-04 15:52] rolandgeider commented on #189
It's yours :)

This is also in the exercise crowdsourcing branch, like the other issue with the translations

[2022-10-04 16:00] SmartAree commented on #244
I would love to work on this issue. Can you please assign this to me?

[2022-10-04 16:22] rolandgeider commented on #189
BTW, you can reach the form from the workout tab -> top right menu -> contribute exercise in the description step

[2022-10-04 16:49] rolandgeider commented on #150
I don't really know why the tests only find 2 widgets, instead of the four that should be there, it's a bit strange, I'll keep looking

[2022-10-04 18:15] Aaliya-Ali commented on #150
Same here, I tried finding out but could not understand either. Can you tell me a bit more about the 4 widgets the test is looking for?

[2022-10-04 18:24] rolandgeider commented on #150
So if you look into `gallery_screen_test.dart` you see that in setup() we mock the gallery provider. This means that we fake tcertain responses so that we can run the tests without the need for any backend, database or any external services. In this case we simply return `getTestImages()` which is a list with four images.

Then we render the gallery with that provider and basically check that ther

[2022-10-04 18:52] Aaliya-Ali commented on #150
Got it, thanks for the clarification! I'll try to find a fix.

[2022-10-04 21:14] skdotv commented on #244
Hi @rolandgeider, if it’s possible can you assign this ticket to me.
Also if the password reset api is ready I can work on the reset password functionality and integration in mobile application.
thank you

[2022-10-05 10:25] bujdy commented on #230
Can you assign this to me?

[2022-10-05 19:33] rolandgeider commented on #170
https://github.com/wger-project/wger/pull/1134

[2022-10-06 11:39] rolandgeider commented on #150
I have tried adding a `await tester.pumpAndSettle();` which is needed e.g. when there are animations or such and we need to wait till they are over till we check if certain elements are visible in the widget tree, but this also didn't work. I will try to get somehow a screenshot out of the tests to see what is happening.

While tests are incredibly useful and have saved my ass a lot of times and I

[2022-10-06 14:28] rolandgeider commented on #150
I mean, it finds two of them, so it can't be too wrong. But yes, it has to have something to do with it

[2022-10-06 15:51] yunuskhan35 commented on #111
we create a prototype in which we can use landscape mode also.we are also working on your project, you can refer our prototype model in your project.
[ROSP-PROJECT.zip](https://github.com/wger-project/flutter/files/9726479/ROSP-PROJECT.zip)

[2022-10-07 07:20] rolandgeider commented on #180
For one of the other issues we were thinking about adding a provider that manages the gym mode. It might be a possibility to add it for this issue so that at the moment it just stores the current step

[2022-10-07 21:25] gargchirayu commented on #152
Is this issue resolved or still needs work? If this is a hacktoberfest issue i would like to work on it please.

[2022-10-07 21:27] rolandgeider commented on #152
Hi! Yes this issue is not only still open and is part of hacktobest, it would be really useful if it would be done.

[2022-10-08 06:03] AlsoShantanuBorkar commented on #51
Is this issue still open?
I would like to work on it.

[2022-10-09 06:12] ekakshjanweja commented on #230
@rolandgeider are there any beginner friendly issues available that you can assign to me??

[2022-10-09 06:14] ekakshjanweja commented on #244
@rolandgeider I think I could work on this issue. Can you assign it to me??

[2022-10-09 08:13] Rohit-RA-2020 commented on #249
https://pub.dev/packages/syncfusion_flutter_charts
This can be used as a replacement.

[2022-10-09 14:10] AmanNegi commented on #64
Yes using flutter_cache_manager is the right way to go. I can help you implement this.

[2022-10-09 14:11] AmanNegi commented on #161
Hey @rolandgeider can I work on this issue. We can use the [flutter_cache_manager](https://pub.dev/packages/flutter_cache_manager) to do this.

[2022-10-09 14:14] AmanNegi commented on #110
Hey @rolandgeider can I work on this issue. Because there is no recent activity on this.

[2022-10-09 14:15] AmanNegi commented on #101
Hey @rolandgeider can I work on this issue?

[2022-10-10 06:06] floodoo commented on #249
Also a good chart package, is the [fl_chart](https://pub.dev/packages/fl_chart) package

[2022-10-10 07:35] rolandgeider commented on #161
Hi @AmanNegi ! Sure, this would be really useful for the project

[2022-10-10 10:20] rolandgeider commented on #249
Sadly the syncfusion package is propietary, but fl_chart might be an alternative worth considering

[2022-10-10 10:22] rolandgeider commented on #101
it's yours

[2022-10-10 14:15] Jitender-yaduvanshi commented on #230
Is someone working on this issue now ??

[2022-10-10 14:41] rolandgeider opened #254 "Improve variations widget for new exercises"
The variations widget used to inform the user that the exercise might already exist in the database needs a bit of polishing so that it works like the one used in the web application:

- [ ] allow to filter the list by name
- [ ] group exercises that are together so that it's clear that they form a "group"
- [ ] add the missing info text

Flutter version

![image](https://user-images.githubusercon

[2022-10-11 13:59] trats08 opened #257 "Add Theme feature"
Dark or Light theme feature will enhance the UI experience of the user.

Kindly assign me this issue and add the hactoberfest label for the same.

[2022-10-11 14:51] rolandgeider commented on #161
You mean as a partial refactoring before moving the stuff to the database?

[2022-10-11 14:57] rolandgeider commented on #257
Hi! There is already a PR for adding a dark theme (#246), but it would be useful if there was a switch in the preferences screen to allow the user to use brigth, dark theme or the system preferences. (since the project itself has the hacktoberfest label, your PR would count anyway)

[2022-10-11 15:02] AmanNegi commented on #161
Umm not exactly, what I am suggesting is that we use `shared_prefs` as our database itself. Because I wasn't able to found another viable alternative for it...

A thing we could do is save the data in a `.json` file in local storage which will store our cache. But then we have to ensure data confidentiality and read/write speeds at our ends.

[2022-10-11 16:59] rolandgeider commented on #161
I see what you mean. Yes, moving to a real DB is going to be quite a bit of pain, but we might be able to use some of the code that the developer of feeel is doing in the [drift branch](https://gitlab.com/enjoyingfoss/feeel/-/commits/drift/) later on.

In any case, I agree with you that having everything in one class is much better. I'd suggest moving the discussion to a new issue, so we can keep

[2022-10-11 17:30] AmanNegi commented on #161
Okay Sure I'll do that.

[2022-10-12 10:44] rolandgeider opened #258 "Block user from accessing exercise contribution page"
If a user has not confirmed their email (user provider, Profile), they should't be able to access the page to contribute exercises (AddExerciseScreen, Workout tab -> three dot menu). Instead, we should show a simple info text and a button that opens the user pofile form (UserProfileForm) where it is possible to confirm it

[2022-10-12 14:34] Hirdey-1999 commented on #258
Can i work on this issue as i have did the same in my app.

[2022-10-12 14:40] rolandgeider commented on #258
Hi! Sure, it's yours

[2022-10-12 15:08] Hirdey-1999 commented on #258
Thanks for assigning

[2022-10-13 08:12] Arnav2001 commented on #258
can I work on this issue, I can resolve it.

[2022-10-13 08:35] rolandgeider commented on #258
Hey! @Hirdey-1999 is already working on this

[2022-10-13 08:47] Arnav2001 commented on #258
do you have anything else for me

[2022-10-13 08:58] rolandgeider commented on #258
@Arnav2001 perhaps #254 ?

[2022-10-13 09:12] Arnav2001 opened #259 "Animated Bottom Navigation Bar"
## Use case

## Proposal

[2022-10-13 11:50] marcelbader opened #260 "exercise creation fails / leaves only empty entries"
1. installed the app, registered online, created first workout, filled in my exercises... everything fine
2. for the reason of some missing exercises, I was searching for a solution, I was deleting and creating the workout plan again and again (didn't know that there is a way to create new exercises at the web browser...)
3. on the third or fourth creation the bug appeared
4. when I tried to fill

[2022-10-13 16:00] Arnav2001 commented on #254
I wish to contribute to this problem kindly allow me to work on this issue.

[2022-10-13 18:41] rolandgeider commented on #254
It's yours @Arnav2001

[2022-10-13 18:44] rolandgeider commented on #254
The help text at the bottom is "If you notice an exercise that is identical to the one you're adding, please discard your draft and edit that exercise instead.", on the search box "enter exercise name to filter variations"

[2022-10-13 19:05] Arnav2001 commented on #254
ok, thank you for allowing me

[2022-10-13 19:25] rolandgeider commented on #254
no problem man, if you have any questions or anything, just write me

[2022-10-13 19:41] Arnav2001 commented on #254
I am facing few difficulties to understand this issue need your guidance.
1. You want me to add a filter to select by name in this variations part
2. For second task, should I make group having name and then they will expand and show variations, for example:- variation section will have groups of different variations and then after opening those groups we will find main variation (variation sectio

[2022-10-13 19:55] rolandgeider commented on #254
1. exactly
2. Yes, so exercises can have variations (like e.g. curls with dumbbells, curls with barbell, curls on the machine, etc.) and when the user adds a new exercise, it should be possible to add it to one of the existing groups. That is this whole widget. All the exercises that are variations of each other are then one group which the user should be able to select. These groups can contain f

[2022-10-14 09:01] yunuskhan35 commented on #111
https://github.com/yunuskhan35/fitness-app/upload
we create a prototype in which we can use landscape mode also.we are also working on your project, you can refer our prototype model in your project.

[2022-10-14 09:05] rolandgeider commented on #111
Cool! I'll take a look as soon as I can

[2022-10-14 10:25] Arnav2001 commented on #254
![image](https://user-images.githubusercontent.com/68494838/195824531-76cc96eb-fc14-43a6-a419-1f968ab6b38f.jpeg)

1. Please guide me from where I can retrieve list of variations UI wise it is complete need to add functionality
2. will be working on this soon
3. Is this what you want? kindly check in above image

any suggestions?

[2022-10-14 11:16] sandimilohanic commented on #208
Is there maybe a user interface for adding new translations?

[2022-10-14 12:39] sandimilohanic commented on #208
do you mean this group of muscles to set the category?

![Screenshot_66](https://user-images.githubusercontent.com/7765448/195848677-e172114f-e040-4a81-8a09-1d5e75e8e73c.png)

[2022-10-14 12:40] rolandgeider commented on #208
No, the ones when you click on that funnel icon next to the text field. Also, this was recently moved to master, no need to work in the branch anymore.

[2022-10-14 12:41] rolandgeider commented on #208
We have setup synchronisation with weblate https://hosted.weblate.org/engage/wger/ Is this what you mean?

[2022-10-14 12:55] sandimilohanic commented on #208
yes i mean for that.

[2022-10-14 13:53] sandimilohanic commented on #208
Regarding for this issue, i need to add two translations in the backend app into the file "i18n.tpl". Can I add them?

{% translate "Category" %}
{% translate "Equipment" %}

[2022-10-14 18:49] #230 closed

[2022-10-14 18:56] rolandgeider opened #262 "Add smart watch / wear OS support"
(idea for the future)

At least the gym mode view would fit perfectly onto a smart watch display with little changes to the UI and would be really useful. For wear OS there is [a package available](https://github.com/fluttercommunity/flutter_wear_plugin) but till the [sync between phone and watch isn't solved](https://github.com/fluttercommunity/flutter_wear_plugin/issues/3), we won't be able to d

[2022-10-14 21:12] Developer-Vijay commented on #259
please assign me this project

[2022-10-15 02:25] Arnav2001 commented on #254
Any response ?

[2022-10-15 09:00] #101 closed

[2022-10-15 09:06] rolandgeider commented on #254
1. There are two lists for this, the exercises that already have variations (those groups we were talking about) and exercises which currently don't belong to any group. In the widget you can see how they are retrieved, the lines with `...exerciseProvider.exerciseBasesByVariation.keys` and `...exerciseProvider.bases` (we sadly need to differentiate between them because the logic in the backend is

[2022-10-15 11:12] AmanNegi opened #264 "Improve Login Page interface"
## Use case

Currently the Login Page is shabby in terms of design. It is currently usable but having a better visual appeal would be better.

## Proposal

Here's an example of how it might be looking, not exactly but in terms of simplicity of interface. We will use the app color theme and logo and implement it according to our app.

![image-5.png](https://user-images.githubusercontent.com/3760722

[2022-10-15 11:13] AmanNegi commented on #264
Can you assign this issue to me? I recently worked with the Login Page and am familiar with the codebase 😊

[2022-10-15 11:16] AmanNegi commented on #257
Let me know if I can help in any of this @trats08 @rolandgeider.

Happy to help 😊

[2022-10-15 11:28] AmanNegi opened #265 "Change AboutDialog to Full Screen Page"
## Use case

Right now, on clicking About Wger we get a dialog which looks like this:

![Screenshot_2022-10-15-16-51-18-42_b440cc4bcc22d07983183a7f8cd04ac8.jpg](https://user-images.githubusercontent.com/37607224/195983857-4e2187d0-4396-43aa-9bef-de9e2f36ea48.jpg)

Dialogs are fine is the information is short and precise. The content we are currently showing is too large to display in a dialog.

##

[2022-10-15 11:28] AmanNegi commented on #265
Can you assign this issue to me? 😁

[2022-10-16 14:50] rolandgeider commented on #264
Shabby is indeed the right word 😅

Sure, go ahead

[2022-10-16 18:11] antarah commented on #265
I would be able to resolve this issue as I have earlier contributed to the issue of Landscape mode as well thus I am well versed with  code.  I m ready to solve this issue please assign me.

[2022-10-16 18:15] antarah commented on #148
I would be able to resolve this issue as I have earlier contributed to the issue of Landscape mode as well as the body chart issue thus I am well versed with code. Thus, I m ready to solve this issue please assign me.

[2022-10-16 19:04] antarah commented on #244
Hey, I could be able to add profile section and description as well as data updates and profile page with better UI as I have experience in UI designs of 2 years as well as I have contributed to your issues of landscape mode and  additional chart displaying of nutrition in dashboard. I am well versed with the code. Please assign this issue to me.

[2022-10-17 15:42] Arnav2001 commented on #254
1. So do I need to add filter functionality too or just need to add it in UI.
2. Can you please explain more that how can I group them like on what basis and from where should I retrieve that data.
3. completed

[2022-10-18 06:26] sandimilohanic commented on #189
@rolandgeider  can I use this package https://pub.dev/packages/markdown_editable_textinput as a WYSIWYG editor and configure it ?

[2022-10-18 10:10] rolandgeider commented on #189
Sadly we need HTML for the description. We've been thinking of also allowing to store markdown in the description, but this would need some changes in the backend as well

[2022-10-18 10:14] sandimilohanic commented on #189
Sorry, I sent you wrong package, I mean this one https://pub.dev/packages/html_editor_enhanced

[2022-10-18 11:16] rolandgeider commented on #189
ah, yes, better 😄

Sure, go ahead

[2022-10-18 13:04] rolandgeider commented on #254
Implementing the actual filtering filtering would be great, yes

As for grouping, I would just take the first n images (depending on how this would be presented, we don't have so much space as on the web version), you can just use the `getMainImage` getter on exercisebase. And besides that some amount of names so that the user can get an idea of what kind of exercises are. In the react version we

[2022-10-18 13:11] rolandgeider commented on #257
@trats08 do you need any help?

[2022-10-18 13:17] rolandgeider commented on #265
Can we collect all the licenses from the dependencies? That is one of the reasons we were using the popup, all the necessary legalese is collected automatically

[2022-10-18 13:29] AmanNegi commented on #265
I believe we can do that using [this](https://api.flutter.dev/flutter/material/showLicensePage.html)

[2022-10-18 13:33] rolandgeider commented on #265
ah cool, yes that looks exactly what we need. I'm assigning this to @AmanNegi since he asked first

[2022-10-18 14:54] AmanNegi commented on #265
Thanks @rolandgeider

[2022-10-19 07:35] Aaliya-Ali commented on #150
@rolandgeider I modified the tests(added a test for ```SliverMasonryGrid``` and set the ```skipOffstage``` to false for ```GestureDetector```) and all the tests passed successfully.
<img width="933" alt="image" src="https://user-images.githubusercontent.com/63385197/196625051-f5c8df05-7a59-49aa-be7c-1cd0edc6c4a9.png">
Tests work even if line 61 is removed.

Do you think the problem is fixed and wo

[2022-10-19 07:39] rolandgeider commented on #150
cool! yes, that definitely fixes it

[2022-10-19 12:43] #150 closed

[2022-10-19 18:35] AmanNegi commented on #264
@rolandgeider I have modified the design, let me know if you need some more changes as well.

![IMG_20221020_000303.jpg](https://user-images.githubusercontent.com/37607224/196775398-b628023e-f2b4-4b9d-97d2-e650e3b8ed44.jpg)

[2022-10-20 17:29] rolandgeider commented on #264
yes, much better!

Is the bottom white half like that or is it an artefact of the screenshot?

[2022-10-20 17:50] AmanNegi commented on #264
No.. that white part is a part of the design to show the card depth, the same bg color throughout the background seems odd.. I'll create a PR for this 🙂😊

[2022-10-20 21:26] AtharvaGolapkar2401 commented on #151
I did add a chart can you check it

[2022-10-21 16:48] AmanNegi commented on #264
@rolandgeider Can you please test and merge this PR.

[2022-10-22 10:14] rolandgeider commented on #264
Just tested this and it definitely looks better this way. I was thinking of adding an email icon to the email field so that it is more consistent. What do you think?

[2022-10-22 10:19] AmanNegi commented on #264
Yes that might be perfect ✨...

I'll make the required changed and update the PR.

[2022-10-22 15:19] TaarnStar commented on #160
Hi @rolandgeider, I found this package that we could implement for easier transitions between designs. Do you think I should try implement it or it would be too much work?

https://pub.dev/packages/flutter_platform_widgets

[2022-10-22 15:24] rolandgeider commented on #160
Interesting. So instead of manually chacking we would just use their Platform Widgets. In any case this will be quite a bit of work, but we don't need to change  absolutely everything, just making the app not feel absolutely out of place would be a good start. Plus we shouldn't forget that we don't have any iOS releases yet (but we might do something for macos in the future)

[2022-10-22 15:27] TaarnStar commented on #160
Maybe we can start by implementing the package to use with Icons (it is maybe the easiest thing to change), either that or manually checking for the platform?

[2022-10-22 15:28] rolandgeider commented on #160
Yeah. We can try the package, then we keep the code cleaner and don't have to litter everything with ifs

[2022-10-22 15:37] TaarnStar commented on #160
I just found which icons are available through the package so we will have to use on some icons the ifs (if there is a cupertino version of some of those icons), but for a lot of icons we can use the package

https://github.com/stryder-dev/flutter_platform_widgets/blob/master/ICONS.md

[2022-10-22 16:01] rolandgeider commented on #160
Nice. I think we only use the only "weirder" Icon is the ine for the weight scale, but that's ok if it stays

[2022-10-24 16:47] gregflynn commented on #193
hate to necro bump but I'm getting this same error but with a subdomain'd server. Web interface works great just can't login to the mobile app. Happy to create a separate issue but wanted to ping here first.

[2022-10-25 02:03] AmanNegi commented on #264
@rolandgeider Can you update me on this?

[2022-10-25 12:16] rolandgeider commented on #193
hi @gregflynn , a subdomain should make even less problems. What error are you getting?

[2022-10-25 12:23] rolandgeider commented on #193
oh wait, you can't login with the mobile app, I think I know what that is

[2022-10-25 12:29] gregflynn commented on #193
Same steps to reproduce as this issue with the difference being `https://foo.example.com` as opposed to `https://example.com/foo`

Awesome, I looked at the PR for resolving this original issue and would have though it would have resolved this subdomain issue too

[2022-10-25 12:33] rolandgeider commented on #193
so I think we broke the app login with the new brute force login detection (https://github.com/wger-project/wger/issues/1163), but you can just disable that by setting `AXES_ENABLED=False`

[2022-10-25 12:48] gregflynn commented on #193
Confirmed! Will take discussion there

[2022-10-26 05:02] AmanNegi commented on #264
@rolandgeider we are currently showing a person icon right?

![image](https://user-images.githubusercontent.com/37607224/197939163-f65f71f8-4e29-482c-b8b9-b76cb444d68d.png)

[2022-10-26 05:42] AmanNegi commented on #265
@rolandgeider Just made the appropriate changes for the AboutPage. Here's a screenshot showing the newly created `AboutPage`

![Screenshot_1666762564](https://user-images.githubusercontent.com/37607224/197944210-2f7e5173-3668-425a-9646-afe0e7e9bfb9.png)

[2022-10-26 05:52] rolandgeider commented on #265
oh yes, much better!

[2022-10-26 06:20] ruqaiyasattar opened #280 "the discord link not working"
the discord link in the app, mentioned in "About wger" in-app is not working. i will update the link on the page which appears after tapping the "About wger" button which is in the setting, alert dialog.

[2022-10-26 07:01] AmanNegi commented on #280
I will update this in my PR.

[2022-10-26 07:06] rolandgeider commented on #280
mhhh, the invitation url seems to be correct

[2022-10-26 08:36] AmanNegi commented on #280
Yep it's working just fine

[2022-10-26 08:45] AmanNegi commented on #265
@rolandgeider Added those texts to `app_en.arb`. 🙌

[2022-10-26 08:47] #265 closed

[2022-10-26 08:49] rolandgeider commented on #264
Sorry, I meant while registering

[2022-10-26 08:50] rolandgeider commented on #264
![image](https://user-images.githubusercontent.com/2280729/197980611-3e6f3c75-4580-48a2-83f2-84f9d7611f43.png)

[2022-10-26 09:04] AmanNegi commented on #264
Oh okay got you. Working on that now 🤗👍

[2022-10-28 05:20] AmanNegi commented on #264
@rolandgeider Updated the Registration UI which now looks like this:

![Screenshot_1666934289](https://user-images.githubusercontent.com/37607224/198509075-a7936692-c7aa-4d90-aa54-2b9acd08c7ac.png)

[2022-10-28 05:30] AmanNegi commented on #264
@rolandgeider I have updated the Registration UI and it looks like this now:

![Screenshot_1666934959](https://user-images.githubusercontent.com/37607224/198510151-0b60e126-2bad-44f5-a51b-704bb1c85477.png)

[2022-10-28 05:43] AmanNegi commented on #257
@trats08 @rolandgeider any updates? Maybe I could help you with this...

[2022-10-28 05:50] AmanNegi opened #281 "Add Helper Texts in Empty Tabs"
## Steps to Reproduce

1. Create a new account in `WGER` and login into the app.
2. After you log in you will be navigated to the home page with 5 tabs.
3. Switching to 2,3 or 5th Tab, shows an empty screen. The tabs are Workout, Nutrition, and Gallery.

**Expected results:**
It would be great to see a message which says no items available or some helper text at least.

**Actual results:**
Current

[2022-10-28 05:51] AmanNegi commented on #281
@rolandgeider Let me know if this issue is valid and if it is please assign it to me I would be happy to resolve it. 😊🙌

[2022-10-28 07:04] ruqaiyasattar commented on #280
Ok great!

[2022-10-28 08:49] rolandgeider commented on #280
Great! closing this issue

[2022-10-28 08:51] rolandgeider commented on #281
yes, informing the user isn't a bad idea. I would use a generic text instead of something specific to the tab as to keep the amount of text that needs to be translated to a minimum (so something like "no items" instead of "no workout routines")

[2022-10-28 08:52] AmanNegi commented on #281
Okay a common text would be perfect so that it can be reused. 🤗👍

[2022-10-30 06:04] AmanNegi commented on #281
@rolandgeider Any updates on this?

[2022-10-30 06:05] AmanNegi commented on #264
@rolandgeider is this fine? Or something else is also needed?

[2022-10-30 06:51] sandimilohanic commented on #145
hi @rolandgeider , i don't find a screen for Add exercises, is this screen correct?

![Screenshot_69](https://user-images.githubusercontent.com/7765448/198866223-1fbd8bb2-aa77-4fc9-9ddc-b7df3abc1f36.png)

[2022-10-30 06:56] sandimilohanic commented on #259
Hi @rolandgeider , I would like to try resolve this issue, could you assign me?

[2022-10-30 08:47] sandimilohanic opened #284 "Some texts are hard-coded, it is necessary to implement localization"
## Use case

- images notes (file step5images.dart)
- videos button (file video.dart)

... and other similar places.

![Screenshot_70](https://user-images.githubusercontent.com/7765448/198870141-54d2ddd3-e5f1-49a9-9daa-7314c70053ef.png)

[2022-10-30 08:48] sandimilohanic commented on #284
Hi @rolandgeider if you approve this,  assign it to me. thx

[2022-10-31 02:34] inmanturbo opened #287 "Unexpected character error on login"
## Steps to Reproduce

1. Install on Android phone
2. Attempt to login or register with customer server
3. see error

**Expected results:**
Anything other than an error.

**Actual results:**

![Screenshot_20221030-223205.png](https://user-images.githubusercontent.com/47095624/198919190-50dfbd8c-899d-473e-9f01-90295694a5aa.png)
<details>
  <summary>Logs</summary>

[code]

</details>

[2022-10-31 12:47] #287 closed

[2022-10-31 12:50] rolandgeider commented on #284
good catch, we definitely want those translated as well. You can use the [same strings used in the web application](https://github.com/wger-project/react/blob/master/public/locales/en/translation.json), then weblate can suggest the same translation (even if their UI sometimes hides these suggestions a bit too much)

[2022-10-31 12:53] rolandgeider commented on #264
no, this is fine! Thanks! :)

[2022-10-31 12:54] #264 closed

[2022-10-31 12:55] rolandgeider commented on #145
Hi @sandimilohanic , yes that's the screen

[2022-10-31 13:03] rolandgeider commented on #257
@AmanNegi you can checkout the branch in #246 There is still some work to do there, but we could add a switch independently of it

[2022-10-31 13:09] AmanNegi commented on #281
@rolandgeider could you please merge this issue by today?

[2022-10-31 13:10] rolandgeider commented on #281
I've just approved it so it counts as well 👍🏻

[2022-10-31 13:37] AmanNegi commented on #281
Thanks a lot !! 🤗💓✨

[2022-10-31 14:59] inmanturbo commented on #287
Thank you

[2022-11-11 14:24] rolandgeider opened #288 "Only push docker images if tests pass"
At the moment the docker images are always built, even if there is a regression in the tests. Ideally we would wait till the tests are passed successfully and only then build the images

[2022-11-14 01:53] manto89 opened #291 "Unable to visualize Training Logs"
## Steps to Reproduce

1. Create a Workout Plan, put some exercises in said plan
2. Log reps/weight for the plan
3. In 'Workout' section click on the plan
4. Click on the Logs section <img width="48" alt="Screenshot 2022-11-14 at 02 20 19" src="https://user-images.githubusercontent.com/6862296/201556307-b2b8fa0f-3e49-490d-9637-14537989ecbf.png">

**Expected results:**
The logs of the exercise with

[2022-11-16 19:51] rolandgeider opened #292 "Use SITE_URL when returning media URLs over the API"
See #1181

When returning the image URL over the API, we must prepend/use SITE_URL, otherwise this won't work e.g. when using the docker compose setup where the internal URL is http://localhost/media/123 but from the outside we need to use the configured TLD or at least IP

[2022-11-17 13:44] 12people opened #293 "Don't use canLaunchUrl to check whether a URL can be launched"
From the [URL Launcher](https://pub.dev/packages/url_launcher) documentation:

[code]

This leads to links not opening inside e.g. Linux Flatpaks.

I recommend using this approach instead:
[code]

[2022-11-20 08:20] Lrss commented on #127
It would be useful to have a language switcher on the login page, so you could easily change it to your preferred language on the first page you are presented with.

[2022-11-20 18:32] rolandgeider commented on #127
I think android 12 or 13 allows the user to set the language on a per app basis, but that is slightly cumbersome UI wise and nobody knows about it

If somebody wants to contribute such a switcher (also having it in the preferences page would make sense), go ahead

[2022-11-26 09:40] mohammadrafigh opened #296 "Show video and image preview of exercise in training mode"
## Use Case

Currently there is no video or image preview in training mode. So if user doesn't know how to exactly do the exercise the wall of text doesn't help at the middle of training.

![signal-2022-11-22-20-43-51-157](https://user-images.githubusercontent.com/6737508/204082320-94cbed26-ca40-42b3-bb38-bc7f4d6de510.jpg)

## Proposal

Instead it's be better to show the title of the exercise and

[2022-11-26 09:41] mohammadrafigh commented on #296
I'm working on it.

[2022-11-26 09:44] mohammadrafigh opened #297 "Instead of showing exercise names the app shows exercise id"
## Steps to Reproduce

![signal-2022-11-22-20-43-46-125](https://user-images.githubusercontent.com/6737508/204082450-673a26aa-32c1-4525-bff8-80e4bf375bc6.jpg)

1. Start training mode
2. Press menu button on top right of the screen
3. You see ids instead of names

**Expected results:**

Get exercise names.

**Actual results:**

We get ids.

[2022-11-26 14:16] mohammadrafigh opened #299 "There is no loading at all"
## Steps to Reproduce

There is no loading when submitting forms and saving things, also the submitting buttons are not getting disabled while processing and sending requests, which allows user to press save button multiple times and results to data duplication. The loading helps users to understand something is happening and you already clicked on save button successfully.

1. Just try to save so

[2022-11-26 20:55] mohammadrafigh commented on #296
The code for images are already there, So I assume we should see both videos and images there now.

[2022-11-27 23:59] jfrys opened #302 "Google Sign In"
## Use case

Implement Google Sign In

## Proposal

Currently, sign in by username/email is the only method of authentication. To be up to speed with other popular apps, wger should have at least Google Sign In as an alternative to speed up the registration process. I have provided a link to the google sign in package below to integrate.

[https://pub.dev/packages/google_sign_in](url)

[2022-11-28 00:05] jfrys opened #303 "Exercise List - Leading Icon"
## Use case

The leading icon for the list of exercises should be changed, since they are all the same icon currently - it does not seem necessary to have a leading icon if they are all the same and do not correlate to each individual exercise.

<img width="337" alt="ex list" src="https://user-images.githubusercontent.com/93684643/204167035-1ed14953-4c0b-4285-9543-2dcd37e8c8b5.png">

## Proposal

[2022-11-28 00:08] jfrys opened #304 "Diagram muscle highlighting"
## Steps to Reproduce

Tapping on various exercise items, some of the exercises do not have the proper highlighting showing the muscles and secondary muscles that are trained.

**Expected results:**
<img width="337" alt="highlighted" src="https://user-images.githubusercontent.com/93684643/204167244-2dfce305-0916-4eda-b57b-d9eab4cf8332.png">

**Actual results:**
<img width="337" alt="not highlighte

[2022-11-28 00:13] jfrys opened #305 "Rest Timer"
## Use case

Currently, the rest screen between sets is more of a stopwatch - I believe having a countdown timer here would be more intuitive.

## Proposal

Having a timer between sets allows users to set their preferred rest time for each exercise, and allows users to focus on other things while resting instead of watching the stopwatch time go up. This will allow users to do whatever they need t

[2022-11-28 00:17] jfrys opened #306 "Gallery Screen"
## Use case

The Gallery Screen is in need of a prompt for users.

<img width="337" alt="gallery" src="https://user-images.githubusercontent.com/93684643/204167669-dbccf3c8-8436-44db-88ef-a6362564f2a7.png">

## Proposal

Since the Gallery is included on the main tab bar - the initial screen should have some sort of prompt for users to know what kind of media they should be uploading to this screen

[2022-11-28 17:01] kiocjw commented on #249
Not sure if these consider one of them:
https://github.com/infinum/flutter-charts
https://github.com/entronad/flutter_echarts

[2022-11-29 14:51] rolandgeider commented on #303
Hi! Those icons do take the exercise's image and display it, if available. We decided to put them front and center in the overview (even more so on the web application) so that if there are images missing users would be "pushed" a bit to contribute them.

![image](https://user-images.githubusercontent.com/2280729/204559905-8b1c05fc-f2eb-4a3d-a88e-1c70f2d4d54e.png)

BTW, currently it's only possibl

[2022-11-29 14:51] #303 closed

[2022-11-29 14:52] rolandgeider commented on #303
(obviously, if the images of exercises with images are not being shown, that would be a bug)

[2022-11-29 14:57] rolandgeider commented on #304
That means that the exercise has no trained muscles.

We could just hide the diagram when an exercise has no saved muscled, that would probably be the fastest workaround. On the other hand, having a complete dataset is one of the project's goals so want to have them. Currently the muscles are not a required field when adding new exercies. I'm a bit torn here, from one side the process should be as

[2022-11-29 15:01] rolandgeider commented on #305
Yeah

In general, the whole gym mode could use a bit of polishing. At the moment we were using a simple stop watch because it is the simplest. Adding a countdown would come with some configuration wishes since not all exercises need the same pause times

[2022-11-29 15:03] rolandgeider commented on #299
You mean some kind of feedback? Yes, that would be indeed useful. Sadly, this would need to be implemented for each form individually, so this is gonna be a lot of work. At the moment this is only done in a handful of forms like (I think) the login/registration and a couple of others

[2022-11-29 15:22] rolandgeider commented on #302
one of the problems we'd have to solve if we implement this is how to handle local installations. I guess those admins would need to register their app / URL with google etc?

[2022-11-29 16:27] rolandgeider commented on #291
See discussion in corresponding issue for the backend

[2022-11-29 16:27] #291 closed